{
  "useTabs": false,
  "singleQuote": true,
  "printWidth": 90,
  "tabWidth": 2,
  "overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }],
  "svelteStrictMode": true,
  "semi": false,
  "trailingComma": "all",
  "bracketSameLine": true,
  "arrowParens": "avoid",
  "objectWrap": "collapse"
}
