# Change this line.
/notifiarr
/init/macos/*.app/Contents/MacOS/*
# The rest is probably fine.
/rsrc*.syso
/aur
/*.log
/*.conf
/cmd
/*.gz
/*.zip
/*.upx
/*.dmg
/*.1
/*.deb
/*.rpm
/*.txz
/*.zst
/*.sig
/*.*.arm
/*.*.exe
/*.*.macos
/*.*.linux
/*.*.freebsd
/*.rb
/*.upx
/*.app
*.sha256
/*.service
/vendor
.DS_Store
*~
/package_build_*
/release*
MANUAL
MANUAL.html
README
README.html
/*_manual.html
/homebrew-mugs
.secret*files.tar
*key*
aur_deploy_key*
.metadata.make
/*-rendered.sh
/gpg.signing.key
/notifiarr.conf.example
notifiarr.conf