<h1><i class="fas fa-running"></i> Commands</h1>
<p>
    This application can be configured to run custom (shell) commands.
    These may be triggered from this interface. Subscription users may trigger them from a supported chat server (ie. Discord).
    Other trigger-options are created as requested.
</p>
<hr>
<p>
    <h3><i class="fas fa-comment text-orange"></i> Notes</h3>
    <li><i class="fas fa-star text-dgrey"></i> The <span class="text-brand">purple</span> button will not run a command that has been modified. Save & Reload first!</li>
    <li>
        <span style="display:none;" class="dialogTitle">Custom Command Arguments</span>
        <div style="display:none;" class="dialogText">
            Commands may be given custom arguments. These arguments may be filled in by the person running the command.
            If a command has an argument, it is required; if it has multiple custom arguments, they're all required.
            Custom arguments must be wrapped in curly braces and parentheses, and contain a regular expression, ie. <code>({[a-z]})</code>
            <h4>Examples</h4>
            Command using two arguments: <pre>/bin/ls ({-la|-l|-a|-al}) ({/tmp|/|/home|/lib})</pre>
            The above command will allow a user to do any combination of <code>ls -la</code> on either <code>/tmp</code>, <code>/</code>, <code>/home</code>, or <code>/lib</code>.<br>
            The following command can be used to curl websites from within a Docker container.
            <pre>image --curl ({https?://[^ ;]+})</pre>
        </div>
        <a class="help-icon fas fa-star" onClick="dialog($(this), 'left')"></a>
        Custom arguments may be defined with this format: <code>({regex})</code> - that is a regular expression wrapped in curly braces and parens.
    </li>
</p>
<div class="table-responsive">
    <table class="table bk-dark table-bordered">
        <thead>
            <tr>
                <td colspan="7" class="text-center mobile-hide">
                    <div style="float: left;font-size:35px;"><i class="fas fa-laptop-code"></i></div>
                    <h2 style="margin-bottom:-45px">Custom Commands</h2>
                    <div style="float: right;">
                        <button onclick="addCommand()" type="button" class="add-new-item-button btn btn-primary"><i class="fa fa-plus"></i></button>
                    </div>
                </td>
                <td colspan="7" class="tablet-hide desktop-hide">
                    <button id="commands-Commands-addbutton" onclick="addCommand()" data-names='["Name","Command","Shell","Log","Notify","Timeout"]' type="button" class="add-new-item-button btn btn-primary"><i class="fa fa-plus"></i></button>
                    <h2 style="margin-left:5px;display:inline;">Custom Commands</h2>
                    <div style="float:right;font-size:35px;"><i class="fas fa-laptop-code"></i></div>
                </td>
            </tr>
            <tr>
                <td style="width:90px;min-width:90px;">
                    <div style="display:none;" class="dialogText">
                        The <span class="text-danger">red</span> button deletes the custom command.<br>
                        The <span class="text-primary">blue</span> button adds a new custom command.<br>
                        The <span class="text-brand">purple</span> button runs the command and stores the output.<br>
                        The <span class="text-success">green</span> button tests the [unsaved] command and displays the output.<br>
                        The <span class="text-dgrey">rocket</span> displays output and statistics for that [saved] command.
                    </div>
                    <a onClick="dialog($(this), 'left')" class="help-icon far fa-question-circle"></a>
                    <span class="dialogTitle">Actions</span>
                </td>
                <td style="min-width:120px;">
                    <div style="display:none;" class="dialogText">Provide this command a pretty name for logs and notifications.</div>
                    <a onClick="dialog($(this), 'left')" class="help-icon far fa-question-circle"></a>
                    <span class="dialogTitle">Name</span>
                </td>
                <td style="min-width:190px;">
                    <div style="display:none;" class="dialogText">Provide the actual command to run. Full paths preferred.</div>
                    <a onClick="dialog($(this), 'left')" class="help-icon far fa-question-circle"></a>
                    <span class="dialogTitle">Command</span>
                </td>
                <td style="min-width:100px;width:100px;">
                    <div style="display:none;" class="dialogText">Enabling shell causes the command to be wrapped with <code>sh -c</code> on *nix or <code>cmd.exe /C</code> on Windows.</div>
                    <a onClick="dialog($(this), 'left')" class="help-icon far fa-question-circle"></a>
                    <span class="dialogTitle">Shell</span>
                </td>
                <td style="min-width:100px;width:100px;">
                    <div style="display:none;" class="dialogText">Enable this option to log the command's output in the application log.</div>
                    <a onClick="dialog($(this), 'right')" class="help-icon far fa-question-circle"></a>
                    <span class="dialogTitle">Log</span>
                </td>
                <td style="min-width:100px;width:100px;">
                    <div style="display:none;" class="dialogText">Enable this option to send a notification with the command's output.</b></div>
                    <a onClick="dialog($(this), 'right')" class="help-icon far fa-question-circle"></a>
                    <span class="dialogTitle">Notify</span>
                </td>
                <td style="min-width:120px;width:120px;">
                    <div style="display:none;" class="dialogText">Maximum amount of time to wait for the command to run. Recommend less than 1 minute.</div>
                    <a onClick="dialog($(this), 'right')" class="help-icon far fa-question-circle"></a>
                    <span class="dialogTitle">Timeout</span>
                </td>
            </tr>
        </thead>
        <tbody id="commands-Commands-container">
        {{- range $index, $app := .Config.Commands}}
            <input disabled style="display: none;" class="client-parameter commands-Commands{{$index}}-deleted" data-group="commands" data-label="Command {{instance $index}} Deleted" data-original="false" value="false">
            <tr class="commands-Commands" id="commands-Commands-{{$index}}">
                <td style="white-space:nowrap;">
                    <input  style="display: none;" id="Commands.{{$index}}.Hash" name="Commands.{{$index}}.Hash" data-index="{{$index}}" data-app="Commands" class="client-parameter form-control input-sm" data-group="commands" data-label="Commands {{instance $index}} Hash" data-original="{{$app.Hash}}" value="{{$app.Hash}}">
                    <div class="btn-group" role="group" style="display:flex;font-size:18px;">
                        <button onclick="removeInstance('commands-Commands', '{{$index}}')" type="button" class="delete-item-button btn btn-danger btn-sm" style="font-size:16px;width:35px;"><i class="fa fa-trash-alt"></i></button>
                        <div style="display:none;" class="dialogText" id="commandStats{{$app.Hash}}">This gets filled in by an ajax query.</div>
                        <span class="dialogTitle" style="display:none;">Command Statistics</span>
                        <button id="CommandsIndexLabel{{$index}}" class="btn btn-sm btn-dgrey" onClick="getCmdStats($(this), '{{$app.Hash}}');" style="font-size:20px;width:40px;"><i class="fas fa-rocket"></i></button>
                        <span>
                            {{- if gt (len $app.Stats.Args) 0 }}
                            <button onClick="getCmdArgs($(this), '{{$app.Hash}}');" type="button" class="btn btn-brand btn-sm checkInstanceBtn" style="font-size:18px;"><i class="fas fa-play-circle"></i></button>
                            {{- else }}
                            <button onClick="runCommand($(this), '{{$app.Hash}}');" type="button" class="btn btn-brand btn-sm checkInstanceBtn" style="font-size:18px;"><i class="fas fa-play-circle"></i></button>
                            {{- end }}
                            <div style="display:none;" class="dialogText" id="commandArgs{{$app.Hash}}">This gets filled in by an ajax query.</div>
                            <span class="dialogTitle" style="display:none;">Run Command, with args</span>
                        </span>
                    </div>
                </td>
                <td title="{{$app.Hash}}">
                    <form class="form-inline">
                        <div class="form-group" style="width:100%">
                            <div class="input-group" style="width:100%">
                                {{- if (locked (printf "%s_COMMAND_%d_NAME" $.Flags.EnvPrefix $index)) }}
                                <div style="width:30px; max-width:30px;" class="input-group-addon input-sm">
                                    <div style="display:none;" class="dialogText">
                                        An environment variable exists for this value. Your new value will write to the config file, but the application will not use it.
                                    </div>
                                    <i onClick="dialog($(this), 'left')" class="text-danger help-icon fas fa-outdent"></i>
                                    <span class="dialogTitle" style="display:none;">Variable: {{printf "%s_COMMAND_%d_NAME" $.Flags.EnvPrefix $index}}</span>
                                </div>
                                {{- end}}
                                <input type="text" id="Commands.{{$index}}.Name" name="Commands.{{$index}}.Name"  data-index="{{$index}}" data-app="Commands"
                                    class="client-parameter form-control input-sm" data-group="commands" data-label="Commands {{instance $index}} Name"
                                    data-original="{{(index $.Input.Commands $index).Name}}" value="{{(index $.Input.Commands $index).Name}}">
                            </div>
                        </div>
                    </form>
                </td>
                <td>
                    <form class="form-inline">
                        <div class="form-group" style="width:100%">
                            <div class="input-group" style="width:100%">
                                {{- if (locked (printf "%s_COMMAND_%d_COMMAND" $.Flags.EnvPrefix $index) )}}
                                <div style="width:30px; max-width:30px;" class="input-group-addon input-sm">
                                    <div style="display:none;" class="dialogText">
                                        An environment variable exists for this value. Your new value will write to the config file, but the application will not use it.
                                    </div>
                                    <i onClick="dialog($(this), 'left')" class="text-danger help-icon fas fa-outdent"></i>
                                    <span class="dialogTitle" style="display:none;">Variable: {{printf "%s_COMMAND_%d_COMMAND" $.Flags.EnvPrefix $index}}</span>
                                </div>
                                {{- end}}
                                <input type="text" id="Commands.{{$index}}.Command" name="Commands.{{$index}}.Command" data-index="{{$index}}" data-app="Commands"
                                    class="client-parameter form-control input-sm" data-group="commands" data-label="Commands {{instance $index}} Command"
                                    data-original="{{(index $.Input.Commands $index).Command}}" value="{{(index $.Input.Commands $index).Command}}">
                                <div onClick="browseFiles('#Commands\\.{{$index}}\\.Command');" style="max-width:35px;width:35px;cursor:pointer;font-size:16px;" class="input-group-addon input-sm"><a class="help-icon fas fa-folder-open"></a></div>
                            </div>
                        </div>
                    </form>
                </td>
                <td>
                    <form class="form-inline">
                        <div class="form-group" style="width:100%">
                            <div class="input-group" style="width:100%">
                                {{- if (locked (printf "%s_COMMAND_%d_SHELL" $.Flags.EnvPrefix $index))}}
                                <div style="width:30px; max-width:30px;" class="input-group-addon input-sm">
                                    <div style="display:none;" class="dialogText">
                                        An environment variable exists for this value. Your new value will write to the config file, but the application will not use it.
                                    </div>
                                    <i onClick="dialog($(this), 'left')" class="text-danger help-icon fas fa-outdent"></i>
                                    <span class="dialogTitle" style="display:none;">Variable: {{printf "%s_COMMAND_%d_SHELL" $.Flags.EnvPrefix $index}}</span>
                                </div>
                                {{- end}}
                                <select autocomplete="off" id="Commands.{{$index}}.Shell" name="Commands.{{$index}}.Shell" data-index="{{$index}}" data-app="Commands" class="client-parameter form-control input-sm" data-group="commands" data-label="Commands {{instance $index}} Shell" data-original="{{$app.Shell}}" value="{{$app.Shell}}">
                                    <option {{if $app.Shell}}selected {{end}}value="true">Enabled</option>
                                    <option {{if not $app.Shell}}selected {{end}}value="false">Disabled</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </td>
                <td>
                    <form class="form-inline">
                        <div class="form-group" style="width:100%">
                            <div class="input-group" style="width:100%">
                                {{- if (locked (printf "%s_COMMAND_%d_LOG" $.Flags.EnvPrefix $index))}}
                                <div style="width:30px; max-width:30px;" class="input-group-addon input-sm">
                                    <div style="display:none;" class="dialogText">
                                        An environment variable exists for this value. Your new value will write to the config file, but the application will not use it.
                                    </div>
                                    <i onClick="dialog($(this), 'left')" class="text-danger help-icon fas fa-outdent"></i>
                                    <span class="dialogTitle" style="display:none;">Variable: {{printf "%s_COMMAND_%d_LOG" $.Flags.EnvPrefix $index}}</span>
                                </div>
                                {{- end}}
                                <select autocomplete="off" id="Commands.{{$index}}.Log" name="Commands.{{$index}}.Log" data-index="{{$index}}" data-app="Commands" class="client-parameter form-control input-sm" data-group="commands" data-label="Commands {{instance $index}} Log" data-original="{{$app.Log}}" value="{{$app.Log}}">
                                    <option {{if $app.Log}}selected {{end}}value="true">Enabled</option>
                                    <option {{if not $app.Log}}selected {{end}}value="false">Disabled</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </td>
                <td>
                    <form class="form-inline">
                        <div class="form-group" style="width:100%">
                            <div class="input-group" style="width:100%">
                                {{- if (locked (printf "%s_COMMAND_%d_NOTIFY" $.Flags.EnvPrefix $index)) }}
                                <div style="width:30px; max-width:30px;" class="input-group-addon input-sm">
                                    <div style="display:none;" class="dialogText">
                                        An environment variable exists for this value. Your new value will write to the config file, but the application will not use it.
                                    </div>
                                    <i onClick="dialog($(this), 'left')" class="text-danger help-icon fas fa-outdent"></i>
                                    <span class="dialogTitle" style="display:none;">Variable: {{printf "%s_COMMAND_%d_NOTIFY" $.Flags.EnvPrefix $index}}</span>
                                </div>
                                {{- end}}
                                <select autocomplete="off" id="Commands.{{$index}}.Notify" name="Commands.{{$index}}.Notify" data-index="{{$index}}" data-app="Commands" class="client-parameter form-control input-sm" data-group="commands" data-label="Commands {{instance $index}} Notify" data-original="{{$app.Notify}}" value="{{$app.Notify}}">
                                    <option {{if $app.Notify}}selected {{end}}value="true">Enabled</option>
                                    <option {{if not $app.Notify}}selected {{end}}value="false">Disabled</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </td>
                <td>
                    <form class="form-inline">
                        <div class="form-group" style="width:100%">
                            <div class="input-group" style="width:100%">
                                {{- if (locked (printf "%s_COMMAND_%d_TIMEOUT" $.Flags.EnvPrefix $index))}}
                                <div style="width:30px; max-width:30px;" class="input-group-addon input-sm">
                                    <div style="display:none;" class="dialogText">
                                        An environment variable exists for this value. Your new value will write to the config file, but the application will not use it.
                                    </div>
                                    <i onClick="dialog($(this), 'right')" class="text-danger help-icon fas fa-outdent"></i>
                                    <span class="dialogTitle" style="display:none;">Variable: {{printf "%s_COMMAND_%d_TIMEOUT" $.Flags.EnvPrefix $index}}</span>
                                </div>
                                {{- end}}
                                <select type="select" id="Commands.{{$index}}.Timeout" name="Commands.{{$index}}.Timeout" data-index="{{$index}}" data-app="Commands" class="client-parameter form-control input-sm" data-group="commands" data-label="Command {{instance $index}} Timeout" data-original="{{$app.Timeout}}">
                                    <option {{if eq $app.Timeout.Seconds (add 0 0)}}selected {{end}}value="0s">No Timeout</option>
                                    <option {{if eq $app.Timeout.Seconds (add 0 1)}}selected {{end}}value="1s">1 second</option>
                                    <option {{if eq $app.Timeout.Seconds (add 0 2)}}selected {{end}}value="2s">2 seconds</option>
                                    <option {{if eq $app.Timeout.Seconds (add 0 3)}}selected {{end}}value="3s">3 seconds</option>
                                    <option {{if eq $app.Timeout.Seconds (add 0 4)}}selected {{end}}value="4s">4 seconds</option>
                                    <option {{if eq $app.Timeout.Seconds (add 0 5)}}selected {{end}}value="5s">5 seconds</option>
                                    <option {{if eq $app.Timeout.Seconds (add 0 6)}}selected {{end}}value="6s">6 seconds</option>
                                    <option {{if eq $app.Timeout.Seconds (add 0 7)}}selected {{end}}value="7s">7 seconds</option>
                                    <option {{if eq $app.Timeout.Seconds (add 0 8)}}selected {{end}}value="8s">8 seconds</option>
                                    <option {{if eq $app.Timeout.Seconds (add 0 9)}}selected {{end}}value="9s">9 seconds</option>
                                    <option {{if eq $app.Timeout.Seconds (add 0 10)}}selected {{end}}value="10s">10 seconds</option>
                                    <option {{if eq $app.Timeout.Seconds (add 0 15)}}selected {{end}}value="15s">15 seconds</option>
                                    <option {{if eq $app.Timeout.Seconds (add 0 20)}}selected {{end}}value="20s">20 seconds</option>
                                    <option {{if eq $app.Timeout.Seconds (add 0 25)}}selected {{end}}value="25s">25 seconds</option>
                                    <option {{if eq $app.Timeout.Seconds (add 0 30)}}selected {{end}}value="30s">30 seconds</option>
                                    <option {{if eq $app.Timeout.Seconds (add 0 45)}}selected {{end}}value="45s">45 seconds</option>
                                    <option {{if eq $app.Timeout.Seconds (add 0 60)}}selected {{end}}value="1m">1 minute</option>
                                    <option {{if eq $app.Timeout.Seconds (add 0 75)}}selected {{end}}value="1m15s">1 min 15 sec</option>
                                    <option {{if eq $app.Timeout.Seconds (add 0 90)}}selected {{end}}value="1m30s">1 min 30 sec</option>
                                    <option {{if eq $app.Timeout.Seconds (add 0 105)}}selected {{end}}value="1m45s">1 min 45 sec</option>
                                    <option {{if eq $app.Timeout.Seconds (add 0 120)}}selected {{end}}value="2m">2 minutes</option>
                                    <option {{if eq $app.Timeout.Seconds (add 0 150)}}selected {{end}}value="2m30s">2 min 30 sec</option>
                                    <option {{if eq $app.Timeout.Seconds (add 0 180)}}selected {{end}}value="3m">3 minutes</option>
                                    <option {{if eq $app.Timeout.Seconds (add 0 240)}}selected {{end}}value="4m">4 minutes</option>
                                    <option {{if eq $app.Timeout.Seconds (add 0 300)}}selected {{end}}value="5m">5 minutes</option>
                                    <option {{if eq $app.Timeout.Seconds (add 0 360)}}selected {{end}}value="6m">6 minutes</option>
                                    <option {{if eq $app.Timeout.Seconds (add 0 420)}}selected {{end}}value="7m">7 minutes</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </td>
            </tr>
        {{- end}}
            <tr id="commands-Commands-none"{{if .Config.Commands}} style="display: none;"{{end}}><td colspan="7">No custom commands configured.</td></tr>
        </tbody>
    </table>
</div>
{{- /* end of commands (leave this comment) */ -}}
