                                <h1><i class="fas fa-running"></i> Commands</h1>
                                <p>
                                    This application can be configured to run custom (shell) commands. 
                                    These can be triggered from this interface, or as a premium feature, triggered from your Discord (or other chat) server.
                                </p>
                                <hr>
                                <p>
                                    <h3><i class="fas fa-comment"></i> Notes</h3>
                                    <li><i class="fas fa-star"></i> This page isn't done yet.</li>
                                </p>
                                <div class="table-responsive">
                                    <table class="table bk-dark table-bordered">
                                    </table>
                                </div>
{{- /* end of commands (leave this comment) */ -}}
