                    <h1><i class="fas fa-file-export"></i> Config Files</h1>
                    <div class="fileController" data-kind="config">
                        <div class="row">
                          <div class="col-md-6">
                              Found {{len .ConfigFiles.List}} config files &nbsp;•&nbsp;
                              <a href="#configfiles" onClick="refreshPage('configfiles');">Refresh Page</a><br>
                              Total Size: {{.ConfigFiles.Size}} ({{megabyte .ConfigFiles.Size}} Mb)<br>
                              <select class="file-selector" onChange="fileSelectorChange($(this))">
                                  <option value="placeholder" selected disabled>- Select a config file -</option>
                                  {{- range $file := .ConfigFiles.List }}
                                  <option value="{{ $file.ID }}">{{ $file.Name }}</option>
                                  {{- end }}
                              </select>
                              <div class="btn-group btn-toggle fileSortDirection" data-sort="heads">
                            	  <button class="btn btn-xs btn-brand active toggleButton" onClick="toggleButton($(this));">Heads</button>
                            	  <button class="btn btn-xs btn-seondary toggleButton" onClick="toggleButton($(this));">Tails
                                  </button>&nbsp;<i class="fas fa-sort-amount-down sort-icon toggleIcon" style="font-size:22px;" title="Heads, showing top of file first."></i>
                              </div>
                              <span class="file-actions" style="white-space: nowrap; display:none;"><!-- keep the Go button next to the menu. -->
                                  <select class="fileAction">
                                      <option selected disabled>- Actions -</option>
                                      <option value="notifiarr">Send to Notifiarr.com</option>
                                      <option value="delete">Delete File</option>
                                      <option value="download">Download File</option>
                                  </select>
                                  <button onClick="triggerFileAction($(this))" class="btn btn-xs btn-primary">Go</button>
                              </span>
                              <hr>
                              <div style="display:none;padding: 0 !important;" class="file-control col-md-6">
                                  <select class="fileLinesAction">
                                      <option class="fileLinesAdd" value="linesAdd">Add</option>
                                      <option value="linesReload">Reload</option>
                                  </select>
                                  <select class="fileLinesCount">
                                      <option value="50">50  lines</option>
                                      <option value="100">100 lines</option>
                                      <option value="200">200 lines</option>
                                      <option value="300" selected>300 lines</option>
                                      <option value="600">600 lines</option>
                                  </select>
                                  <button onClick="triggerFileLoad($(this))" class="btn btn-xs btn-primary">Go</button><br>
                                  <span class="file-action-msg">Displaying last <span class="currentLineCount">0</span> file lines.'</span>
                              </div>
                              <!-- 3 dynamic message boxes -->
                              <div class="file-small-msg file-control col-md-6"></div>
                              <div class="col-md-12 alert alert-info file-ajax-msg" style="display:none;"></div>
                              <div class="col-md-12 alert alert-danger file-ajax-error" style="display:none;"></div>
                          </div>
                          <div class="col-md-6 mb">
                              <table class="table table-striped table-bordered fileinfo-table">
                                  <tr><td width="10%">Path</td><td>No file selected.</td></tr>
                                  {{- if not (eq .Version.os "windows")}}
                                  <tr><td width="10%">Mode</td><td>No file selected.</td></tr>
                                  <tr><td width="10%">User</td><td>No file selected.</td></tr>
                                  {{- end}}
                                  <tr><td width="10%">Size</td><td>No file selected.</td></tr>
                                  <tr><td width="10%">Date</td><td>No file selected.</td></tr>
                                  <tr><td width="10%">Used</td><td>No file selected.</td></tr>
                              </table>
                              <div class="fileTablesList">
                              {{- template "filetablelist.html" .ConfigFiles.List }}
                              </div>
                          </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="scroll-bar-sm">
                                    <pre class="well well-sm file-content log-file-content bk-brown brdr">Config file contents display here.
                                    </pre>
                                </div>
                            </div>
                        </div>
                    </div>
{{- /* end of config files (leave this comment) */ -}}
