                        <h1><i class="fas fa-file-download"></i> Download Client Apps</h1>
                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <td>Instance</td>
                                    <td>Name</td>
                                    <td>URL</td>
                                    <td>User</td>
                                    <td>Pass</td>
                                </tr>
                                <tr><td colspan="5" align="center"><div style="float: left;"><img src="files/images/logo/qbittorrent.png" style="height:30px;"></div><h4 class="mb-3" style="margin-right: 2em;">Qbittorrent</h4></td></tr>
                            </thead>
                            <tbody>
                                {{if .Config.Apps.Qbit}}{{range $index, $app := .Config.Apps.Qbit}}<tr>
                                    <td>{{instance $index}}</td>
                                    <td><input type="text" id="Qbit{{instance $index}}Name" class="client-parameter" data-group="downloader" data-label="Qbit {{instance $index}} Name" data-original="{{$app.Name}}" value="{{$app.Name}}" style="width: 100%;"></td>
                                    <td><input type="text" id="Qbit{{instance $index}}URL" class="client-parameter" data-group="downloader" data-label="Qbit {{instance $index}} URL" data-original="{{$app.URL}}" value="{{$app.URL}}" style="width: 100%;"></td>
                                    <td><input type="text" id="Qbit{{instance $index}}User" class="client-parameter" data-group="downloader" data-label="Qbit {{instance $index}} User" data-original="{{$app.User}}" value="{{$app.User}}" style="width: 100%;"></td>
                                    <td><input type="text" id="Qbit{{instance $index}}Pass" class="client-parameter" data-group="downloader" data-label="Qbit {{instance $index}} Pass" data-original="{{$app.Pass}}" value="{{$app.Pass}}" style="width: 100%;"></td>
                                </tr>{{end}}{{else}}<tr><td colspan="5">No instances configured</td></tr>{{end}}
                            </tbody>
                            <thead>
                                <tr>
                                    <td>Instance</td>
                                    <td>Name</td>
                                    <td>URL</td>
                                    <td colspan="2">Pass</td>
                                </tr>
                                <tr><td colspan="5" align="center"><div style="float: left;"><img src="files/images/logo/deluge.png" style="height:30px;"></div><h4 class="mb-3" style="margin-right: 2em;">Deluge</h4></td></tr>
                            </thead>
                            <tbody>
                                {{if .Config.Apps.Deluge}}{{range $index, $app := .Config.Apps.Deluge}}<tr>
                                    <td>{{instance $index}}</td>
                                    <td><input type="text" id="Deluge{{instance $index}}Name" class="client-parameter" data-group="downloader" data-label="Deluge {{instance $index}} Name" data-original="{{$app.Name}}" value="{{$app.Name}}" style="width: 100%;"></td>
                                    <td><input type="text" id="Deluge{{instance $index}}URL" class="client-parameter" data-group="downloader" data-label="Deluge {{instance $index}} URL" data-original="{{$app.URL}}" value="{{$app.URL}}" style="width: 100%;"></td>
                                    <td colspan="2"><input type="text" id="Deluge{{instance $index}}Password" class="client-parameter" data-group="downloader" data-label="Deluge {{instance $index}} Pass" data-original="{{$app.Password}}" value="{{$app.Password}}" style="width: 100%;"></td>
                                </tr>{{end}}{{else}}<tr><td colspan="5">No instances configured</td></tr>{{end}}
                            </tbody>
                            <thead>
                                <tr>
                                    <td>Instance</td>
                                    <td>Name</td>
                                    <td>URL</td>
                                    <td colspan="2">API Key</td>
                                </tr>
                                <tr><td colspan="5" align="center"><div style="float: left;"><img src="files/images/logo/sabnzbd.png" style="height:30px;"></div><h4 class="mb-3" style="margin-right: 2em;">SabNZB</h4></td></tr>
                            </thead>
                            <tbody>
                                {{if .Config.Apps.SabNZB}}{{range $index, $app := .Config.Apps.SabNZB}}<tr>
                                    <td>{{instance $index}}</td>
                                    <td><input type="text" id="SabNZB{{instance $index}}Name" class="client-parameter" data-group="downloader" data-label="SabNZB {{instance $index}} Name" data-original="{{$app.Name}}" value="{{$app.Name}}" style="width: 100%;"></td>
                                    <td><input type="text" id="SabNZB{{instance $index}}URL" class="client-parameter" data-group="downloader" data-label="SabNZB {{instance $index}} URL" data-original="{{$app.Name}}" value="{{$app.URL}}" style="width: 100%;"></td>
                                    <td><input type="text" id="SabNZB{{instance $index}}APIKey" class="client-parameter" data-group="downloader" data-label="SabNZB {{instance $index}} API Key" data-original="{{$app.Name}}" value="{{$app.ApiKey}}" style="width: 100%;"></td>
                                </tr>{{end}}{{else}}<tr><td colspan="5">No instances configured</td></tr>{{end}}
                            </tbody>
                        </table>
