{{- /* This is imported by configfiles and logfiles, but may not need to be now that I decided how 'refresh page' works. */}}
                            {{- range $file := . }}
                                <table class="table table-striped table-bordered fileinfo-table" style="display:none;" id="fileinfo-{{$file.ID}}" data-url="{{base}}/ws" data-name="{{$file.Name}}" data-id="{{$file.ID}}" data-used="{{$file.Used}}" data-filename="{{$file.Path}}">
                                    <tr><td width="10%">Path</td><td>{{$file.Path}}</td></tr>
                                {{- if and $file.Mode (ne $file.Mode.String "")}}
                                    <tr><td width="10%">Mode</td><td>{{$file.Mode}}</td></tr>
                                    <tr><td width="10%">Owner</td><td>{{$file.User}}</td></tr>
                                {{- end}}
                                    <tr><td width="10%">Size</td><td>{{$file.Size}} B ({{megabyte $file.Size}} Mb)</td></tr>
                                    <tr><td width="10%">Date</td><td>{{$file.Time}}</td></tr>
                                    <tr><td width="10%">Used</td><td>{{$file.Used}} <i class="help-icon far fa-question-circle" title="True indicates the file is being actively used (possibly written to)."></i></td></tr>
                                </table>
                            {{- end -}}
{{- /* end of filetablelist (leave this comment) */ -}}
