                        </div> <!-- index :: container-fluid -->
                    </div> <!-- index :: content-wrapper -->
                </div> <!-- index :: ts-main-content -->
            </div> <!-- index :: page-body -->
            <div class="page-footer">
                <div class="text-center">
                    <a href="https://notifiarr.com">Notifiarr.com</a> &nbsp;•&nbsp;
                    <a href="https://notifiarr.wiki">Wiki</a> &nbsp;•&nbsp;
                    <a href="https://notifiarr.com/discord">Support</a> &nbsp;•&nbsp;
                    <i class="far fa-copyright"></i> 2020-{{now.Format "2006"}}
                    <a href="https://golift.io/">Go Lift</a> &nbsp;•&nbsp;
                    <a href="https://golift.io/notifiarr/blob/main/LICENSE">MIT license</a>
                    {{- if or .ClientInfo.IsPatron}}
                    &nbsp;•&nbsp; Patron
                    {{- end}}
                    {{- if or .ClientInfo.IsSub}}
                    &nbsp;•&nbsp; Subscriber
                    {{- end}}
                </div>
            </div>
        </div> <!-- index :: page-container -->
    </body>
</html>
