                        </div> <!-- index :: container-fluid -->
                    </div> <!-- index :: content-wrapper -->
                </div> <!-- index :: ts-main-content -->
            </div> <!-- index :: page-body -->
            <div class="page-footer">
                <div style="text-align: right;">
                    Copyright &copy; 2020-{{now.Format "2006"}} Go Lift;
                    <a href="http://golift.io/notifiarr/blob/main/LICENSE">MIT license</a>
                </div>
            </div>
        </div> <!-- index :: page-container -->
    </body>
</html>
