{{- if not .Config.UIPassword }}<p>notifiarr: <strong>working</strong></p>{{else -}}
{{ template "header.html" . }}
        <div class="ts-main-content">
          <div class="ts-main-content">
            <nav class="ts-sidebar">
                <ul class="ts-sidebar-menu">
                    <li class="ts-label" style="text-align: center;">Navigation</li>{{ if .Username }}
                    <li><i class="nav-icon fas fa-cogs"></i><a class="nav-link" onclick="swapNavigationTemplate('config')">Configuration</a></li>
                    <li><i class="nav-icon fas fa-star"></i><a class="nav-link" onclick="swapNavigationTemplate('starr')">Starr Apps</a></li>
                    <li><i class="nav-icon fas fa-file-download"></i>&nbsp;&nbsp;<a class="nav-link" onclick="swapNavigationTemplate('downloadClients')">Download Clients</a></li>
                    <li><i class="nav-icon fas fa-photo-video"></i><a class="nav-link" onclick="swapNavigationTemplate('media')">Media Apps</a></li>
                    <li><i class="nav-icon fas fa-tablets"></i><a class="nav-link" onclick="swapNavigationTemplate('snapshot')">Snapshot Plugins</a></li>
                    <hr>
                    <li><i class="nav-icon fas fa-network-wired"></i><a class="nav-link" onclick="swapNavigationTemplate('services')">Network Services</a></li>
                    <li><i class="nav-icon fas fa-chart-line"></i>&nbsp;<a class="nav-link" onclick="swapNavigationTemplate('metrics')">Metrics</a></li>
                    <li><i class="nav-icon fas fa-file-alt"></i>&nbsp;&nbsp;<a class="nav-link" onclick="swapNavigationTemplate('logfiles')">Log Files</a></li>
                    <hr>
                    <li>{{if eq .Version.os "windows"}}<i class="nav-icon fab fa-windows"></i>
                        {{else if eq .Version.os "linux"}}<i class="nav-icon fab fa-linux"></i>
                        {{else if eq .Version.os "freebsd"}}<i class="nav-icon fab fa-freebsd"></i>
                        {{else if eq .Version.os "darwin"}}<i class="nav-icon fab fa-apple"></i>
                        {{else}}<i class="nav-icon fas fa-microchip"></i>{{end}}<a class="nav-link" onclick="swapNavigationTemplate('system')">System</a></li>
                    <li><i class="nav-icon fas fa-user"></i> <a class="nav-link" href="{{base}}/logout">Logout</a></li>
                    <hr>
                    <li class="ts-label" style="text-align: center;">External Resources</li>
                    <li>&nbsp;<img src="{{files}}/images/favicon.png" style="height:20px"> &nbsp;<a class="nav-link" href="https://notifiarr.com">Notifiarr.com</a></li>
                    <li>&nbsp;<img src="{{files}}/images/favicon.png" style="height:20px"> &nbsp;<a class="nav-link" href="https://notifiarr.wiki">Notifiarr.Wiki</a></li>{{ else }}
                    <li><i class="nav-icon fas fa-user"></i><a class="nav-link" href="#">Login</a></li>{{ end }}
                </ul>
                <div id="pending-change-container" style="display: none;">
                    <hr>
                    <center><button type="button" style="font-size: 16px; width: 85%;" class="btn btn-primary">
                        Submit <span id="pending-change-counter">0</span> Pending Changes
                    </button></center>
                    <br>List of Pending Changes:<br>
                    <div style="margin-left: 1em;" id="pending-change-list"></div>
                </div>
            </nav>
            <div class="content-wrapper">
                <div class="container-fluid">{{ if .Username }}
                  <!-- Load everything hidden, and switch divs with the Nav-menu above. -->
                  <div class="navigation-item" id="template-landing">
{{ template "landing.html"  .}}
                  </div>
                  <div class="navigation-item" id="template-config" style="display: none;">
{{ template "config.html" . }}
                  </div>
                  <div class="navigation-item" id="template-services" style="display: none;">
{{ template "services.html" . }}
                  </div>
                  <div class="navigation-item" id="template-system" style="display: none;">
{{ template "system.html" . }}
                  </div>
                  <div class="navigation-item" id="template-starr" style="display: none;">
{{ template "starr.html" . }}
                  </div>
                  <div class="navigation-item" id="template-downloadClients" style="display: none;">
{{ template "downloadClients.html" . }}
                  </div>
                  <div class="navigation-item" id="template-media" style="display: none;">
{{ template "media.html" . }}
                  </div>
                  <div class="navigation-item" id="template-metrics" style="display: none;">
{{ template "metrics.html" . }}
                  </div>
                  <div class="navigation-item" id="template-logfiles" style="display: none;">
{{ template "logfiles.html" . }}
                  </div>
                  <div class="navigation-item" id="template-snapshot" style="display: none;">
{{ template "snapshot.html" . }}
                  </div>{{ else }}
{{ template "login.html" . }}{{end}}
{{ template "footer.html" }}
{{- end -}}
