                                <h1><i class="fas fa-bezier-curve"></i> Integration Insights</h1>
                                <p>
                                    This page (soon) displays data from integrated applications.
                                </p>
                                <hr>
                                <div class="col-lg-2 col-md-3 col-sm-6 col-xl-2">
                                    <h2>Plex</h2>
                                    {{- if .Cache.sessions }}
                                    Server: {{.Cache.sessions.Data.Name}}<br>
                                    Data Age: {{since .Cache.sessions.Time}}<br>
                                    Sessions: {{len .Cache.sessions.Data.Sessions}}
                                    {{- else }}
                                    No Plex sessions cached.
                                    {{- end }}
                                </div>

                                