                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-4">
                                <h1 class="text-center text-bold mt-4x"></h1>
                            </div>
                            <div class="col-md-4">
                                <h1 class="text-center text-bold mt-4x">Alright!</h1>
                                <p>You made it! Welcome to your Notifiarr Client. This interface
                                  is new, and still pretty basic. You can find running application
                                  information, and you can find a config file editor interface.
                                  If you have more ideas for this interface,
                                  <a href="https://github.com/Notifiarr/notifiarr/issues/new">please let us know!</a>
                                </p>
                            </div>
                            <div class="col-md-4">
                                <h1 class="text-center text-bold mt-4x"></h1>
                            </div>
                        </div>
                    </div>
{{- /* end of landing (leave this comment) */ -}}
