<h1><i class="fas fa-file-medical-alt"></i> Log Files</h1>
<div class="fileController" data-kind="logs">
    <div class="row">
        <div class="col-lg-7 col-md-12">
            <table class="table table-striped table-bordered filetable" style="width:100%" data-sortDirection="desc" data-sortIndex="2" data-height="200">
                <thead>
                    <tr>
                        <td>
                            <b>Files</b> ({{megabyte .LogFiles.Size}})
                            <div style="float: right;">
                                <span class="fileListDirInfo" data-dirdata="{{len .LogFiles.Dirs}} dir{{if ne (len .LogFiles.Dirs) 1}}s{{end}}">
                                    {{len .LogFiles.List}} file{{if ne (len .LogFiles.List) 1}}s{{end}} in {{len .LogFiles.Dirs}} dir{{if ne (len .LogFiles.Dirs) 1}}s{{end}}&nbsp;
                                </span>
                                <a href="#logfiles" class="fas fa-sync" title="Refresh list" onclick="destroyWebsocket('logs');refreshPage('logfiles')"></a>
                            </div>
                        </td>
                        <td><b>Size</b></td>
                        <td><b>Age</b></td>
                        <td class="no-sort" style="min-width:100px;">
                            <div class="btn-group btn-toggle fileSortDirection" data-sort="tails">
                                <button class="btn btn-xs btn-seondary toggleButton" onClick="toggleButton($(this));">Heads</button>
                                <button class="btn btn-xs btn-brand toggleButton" onClick="toggleButton($(this));">Tails
                                </button>&nbsp;<i class="fas fa-sort-amount-up sort-icon toggleIcon" style="font-size:22px;" title="Tails, showing bottom of file first."></i>
                            </div>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    {{- range $file := .LogFiles.List }}
                    <tr id="fileRow{{$file.ID}}" class="fileRow">
                        <td style="cursor: pointer;" onclick="fileSelectorChange($(this),{{ $file.ID }})">{{ $file.Name }}</td>
                        <td data-sort="{{$file.Size}}">{{megabyte $file.Size}}</td>
                        <td data-sort="{{$file.Time}}">{{since $file.Time}}</td>
                        <td>
                            <a href="ui/downloadFile/logs/{{ $file.ID }}" class="fas fa-cloud-download-alt" style="margin-right: 5px;" title="Download log file."></a>
                            <i class="fas fa-cloud-upload-alt" onClick="triggerFileAction($(this), 'upload', 'logs', {{$file.ID}})" style="cursor: pointer; margin-right: 5px;" title="Upload log file."></i>
                            <i class="fas fa-stream socketLink" onClick="openWebsocket($(this), '{{$file.ID}}')" style="cursor: pointer; color: green; margin-right: 5px;" title="Tail log file."></i>
                            {{- if not $file.Used}}
                            <i class="fas fa-trash-alt" onClick="triggerFileAction($(this), 'delete', 'logs', {{$file.ID}})" style="cursor: pointer; color: rgb(169, 9, 9);" title="Delete log file."></i>
                            {{- end}}
                        </td>
                    </tr>
                    {{- end }}
                </tbody>
            </table>
            <div style="display:none;padding: 0 !important;" class="file-control col-md-12">
                <span class="file-action-msg">Displaying last <span class="currentLineCount">0</span> file lines.'</span>
                <select class="fileLinesAction">
                    <option class="fileLinesAdd" value="linesAdd">Add</option>
                    <option value="linesReload">Reload</option>
                </select>
                <input class="fileLinesCount" type="number" min="50" max="5000" value="500">
                <button onClick="triggerFileLoad($(this))" class="btn btn-xs btn-primary">Go</button>
                <span class="file-small-msg file-control"></span><!-- this will say "Still Loading..." -->
            </div>
            <div style="display:none;padding: 0 !important;" class="tailControl col-md-12">
                Auto Scroll <input class="tailAutoScroll" type="checkbox" checked>
                <input id="logsTailFileLinesCount" type="number" min="10" max="500" value="50"> Lines
                &nbsp;<i class="fas fa-cog fa-spin"></i> Tailing file: <span id="logsTailFile"></span>...
            </div>
        </div>
        <div class="col-md-12 col-lg-5 fileTablesList" style="display:none;">
            <h3>Selected File Info</h3>
            <div class="table-responsive">
    {{- template "includes/filetablelist.html" .LogFiles.List }}
            </div>
        </div>
    </div>
    <div class="mt row">
        <div class="col-sm-12 col-md-12">
            <div id="logsFileContainer">
                <div class="well well-sm file-content log-file-content bk-brown brdr scroll-bar-sm">Log file contents display here.
                </div>
            </div>
        </div>
    </div>
</div>
{{- /* end of log files (leave this comment) */ -}}
