                                <h1><i class="fas fa-photo-video"></i> Media Apps</h1>
                                <p>
                                    <h3><i class="fas fa-comment text-orange"></i> Notes</h3>
                                    <li><i class="fas fa-star text-dgrey"></i> The Plex integration is comprehensive, and many of the settings are configured on the Notifiarr.com website.</li>
                                    <li>
                                        <span style="display:none;" class="dialogTitle">Tautulli Integration Explained</span>
                                        <div style="display:none;" class="dialogText">
                                            This is entrirely optional. The Notifiarr website also provides this same feature and allows you to map Plex users to custom names.
                                            <h4>Explained:</h4>
                                            Tautulli provides a feature that allows you to give your Plex users custom usernames. By integrating Notifiarr client with Tautulli, those custom
                                            usernames will be displayed in your chat server notifications. When not enabled, Plex usernames or email addresses are used instead. 
                                        </div>
                                        <a class="help-icon fas fa-star" onClick="dialog($(this), 'left')"></a> The Tautulli integration is used to provide a Plex username to custom name mapping in notifications.
                                    </li>
                                    <li><i class="fas fa-star text-dgrey"></i> Disable Plex or Tautulli by removing the URL or setting Timeout to Disabled. The client only supports one of each.</li>
                                </p>
                                <div class="table-responsive">
                                    <table class="table bk-dark table-bordered">
                                        <thead>
                                            <tr>
                                                <td colspan="7" style="text-align:center;">
                                                    <div style="float: left;"><img src="{{files}}/images/logo/plex.png" style="height:50px;"></div>
                                                    <h2 class="mb-3" style="margin-bottom:-45px">Plex</h2>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="width:30px;" class="text-center"><i class="fab fa-grunt"></i></td>
                                                <td style="min-width:160px;">
                                                    <div style="display:none;" class="dialogText">The name for Plex comes from Plex and cannot be changed here. There is no automatic way to add a service check to Plex. If you want service checks, add one for it in Service Checks.</div>
                                                    <a onClick="dialog($(this), 'left')" class="help-icon fas fa-user-lock"></a>
                                                    <span class="dialogTitle">Name</span>
                                                </td>
                                                <td style="min-width:180px;">
                                                    <div style="display:none;" class="dialogText">If your application has a Base URL, include it.</div>
                                                    <a onClick="dialog($(this), 'left')" class="help-icon far fa-question-circle"></a>
                                                    <span class="dialogTitle">URL</span>
                                                </td>
                                                <td colspan="2">
                                                    <div style="display:none;" class="dialogText">
                                                        You may find directions for locating your Plex token at this <a target="_new" href="https://support.plex.tv/articles/204059436-finding-an-authentication-token-x-plex-token/">Plex Article</a>.
                                                    </div>
                                                    <a onClick="dialog($(this), 'right')" class="help-icon far fa-question-circle"></a>
                                                    <span class="dialogTitle">Plex Token</span>
                                                </td>
                                                <td style="min-width:120px;width:120px">
                                                    <div style="display:none;" class="dialogText">This controls the maximum duration a request to this application may elapse. Selecting <b>No Timeout</b> can be dangerous. Selecting <b>Disabled</b> completely disables the instance.</div>
                                                    <a onClick="dialog($(this), 'right')" class="help-icon far fa-question-circle"></a>
                                                    <span class="dialogTitle">Timeout</span>
                                                </td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <div class="btn-group" role="group" style="display:flex;font-size:18px;">
                                                        <button onClick="testInstance($(this), 'Plex', '1')" type="button" class="btn btn-success btn-sm checkInstanceBtn" style="font-size:18px;"><i class="fas fa-check-double"></i></button>
                                                    </div>
                                                </td>
                                                <td>
                                                    <input readonly type="text" id="Plex.Name" name="Plex.Name" class="client-parameter form-control input-sm" data-group="media" data-label="Plex Name" data-original="{{.Config.Plex.Name}}" value="{{.Config.Plex.Name}}" style="width: 100%;">
                                                </td>
                                                <td>
                                                    <form class="form-inline">
                                                        <div class="form-group" style="width:100%">
                                                            <div class="input-group" style="width:100%">
                                                                {{- if (locked (printf "%s_PLEX_URL" .Flags.EnvPrefix))}}
                                                                <div style="width:30px; max-width:30px;" class="input-group-addon input-sm">
                                                                    <div style="display:none;" class="dialogText">
                                                                        An environment variable exists for this value. Your new value will write to the config file, but the application will not use it.
                                                                    </div>
                                                                    <a onClick="dialog($(this), 'left')" class="help-icon fas fa-outdent"></a>
                                                                    <span class="dialogTitle" style="display:none;">Variable: {{printf "%s_PLEX_URL" .Flags.EnvPrefix}}</span>
                                                                </div>
                                                                {{- end}}
                                                                <input type="text" id="Plex.URL" name="Plex.URL" class="client-parameter form-control input-sm" data-group="media" data-label="Plex URL" data-original="{{.Config.Plex.URL}}" value="{{.Config.Plex.URL}}">
                                                            </div>
                                                        </div>
                                                    </form>
                                                </td>
                                                <td colspan="2">
                                                    <form class="form-inline">
                                                        <div class="form-group" style="width:100%">
                                                            <div class="input-group" style="width:100%">
                                                                {{- if (locked (printf "%s_PLEX_TOKEN" .Flags.EnvPrefix))}}
                                                                <div style="width:30px; max-width:30px;" class="input-group-addon input-sm">
                                                                    <div style="display:none;" class="dialogText">
                                                                        An environment variable exists for this value. Your new value will write to the config file, but the application will not use it.
                                                                    </div>
                                                                    <a onClick="dialog($(this), 'left')" class="help-icon fas fa-outdent"></a>
                                                                    <span class="dialogTitle" style="display:none;">Variable: {{printf "%s_PLEX_TOKEN" .Flags.EnvPrefix}}</span>
                                                                </div>
                                                                {{- end}}
                                                                <input type="password" autocomplete="off" id="Plex.Token" name="Plex.Token" data-app="Plex" class="client-parameter form-control input-sm" data-group="media" data-label="Plex Token" data-original="{{.Config.Plex.Token}}" value="{{.Config.Plex.Token}}">
                                                                <div style="width:35px; max-width:35px;" class="input-group-addon input-sm" onClick="togglePassword('Plex.Token', $(this).find('i'));"><i class="fas fa-low-vision secret-input"></i></div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </td>
                                                <td>
                                                    <form class="form-inline">
                                                        <div class="form-group" style="width:100%">
                                                            <div class="input-group" style="width:100%">
                                                                {{- if (locked (printf "%s_PLEX_TIMEOUT" .Flags.EnvPrefix))}}
                                                                <div style="width:30px; max-width:30px;" class="input-group-addon input-sm">
                                                                    <div style="display:none;" class="dialogText">
                                                                        An environment variable exists for this value. Your new value will write to the config file, but the application will not use it.
                                                                    </div>
                                                                    <a onClick="dialog($(this), 'left')" class="help-icon fas fa-outdent"></a>
                                                                    <span class="dialogTitle" style="display:none;">Variable: {{printf "%s_PLEX_TIMEOUT" .Flags.EnvPrefix}}</span>
                                                                </div>
                                                                {{- end}}
                                                                <select type="select" id="Plex.Timeout" name="Plex.Timeout" class="client-parameter form-control input-sm" data-group="media" data-label="Plex Timeout" data-original="{{.Config.Plex.Timeout}}">
                                                                    <option value="-1s">Disabled</option>
                                                                    <option value="0s">No Timeout</option>
                                                                    {{- range $i := one259 }}
                                                                    <option {{if eq $.Config.Plex.Timeout.Seconds $i}}selected {{end}}value="{{$i}}s">{{$i}} second{{if not (eq $i (add 0 1))}}s{{end}}</option>
                                                                    {{- end}}
                                                                    <option {{if eq $.Config.Plex.Timeout.Seconds (add 0 60)}}selected {{end}}value="1m">1 minute</option>
                                                                    {{- range $i := one259 }}
                                                                    <option {{if eq $.Config.Plex.Timeout.Seconds (add 60 $i)}}selected {{end}}value="1m{{$i}}s">1 min {{$i}} sec</option>
                                                                    {{- end}}
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </td>
                                            </tr>
                                        </tbody>
                                        <thead>
                                            <tr><td colspan="7" style="text-align:center;">
                                                <div style="float: left;"><img src="{{files}}/images/logo/tautulli.png" style="height:50px;"></div>
                                                <h2 class="mb-3" style="margin-bottom:-45px">Tautulli</h2>
                                            </td></tr>
                                            <tr>
                                                <td class="text-center"><i class="far fa-snowman"></i></td>
                                                <td>
                                                    <div style="display:none;" class="dialogText">Adding a name to any application enables service checks for the instance.</div>
                                                    <a onClick="dialog($(this), 'left')" class="help-icon far fa-question-circle"></a>
                                                    <span class="dialogTitle">Name</span>
                                                </td>
                                                <td>
                                                    <div style="display:none;" class="dialogText">If your application has a Base URL, include it.</div>
                                                    <a onClick="dialog($(this), 'left')" class="help-icon far fa-question-circle"></a>
                                                    <span class="dialogTitle">URL</span>
                                                </td>
                                                <td style="min-width:150px;">
                                                    <div style="display:none;" class="dialogText">Get this from Tautulli Settings.</div>
                                                    <a onClick="dialog($(this), 'right')" class="help-icon far fa-question-circle"></a>
                                                    <span class="dialogTitle">API Key</span>
                                                </td>
                                                <td style="min-width:85px;width:85px;">
                                                    <div style="display:none;" class="dialogText">Service checks are enabled when a name is added. This controls how often to check.</div>
                                                    <a onClick="dialog($(this), 'right')" class="help-icon far fa-question-circle"></a>
                                                    <span class="dialogTitle">Interval</span>
                                                </td>
                                                <td>
                                                    <div style="display:none;" class="dialogText">This controls the maximum duration a request to this application may elapse. Selecting <b>No Timeout</b> can be dangerous. Selecting <b>Disabled</b> completely disables the instance.</div>
                                                    <a onClick="dialog($(this), 'right')" class="help-icon far fa-question-circle"></a>
                                                    <span class="dialogTitle">Timeout</span>
                                                </td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <div class="btn-group" role="group" style="display:flex;font-size:18px;">
                                                        <button onClick="testInstance($(this), 'Tautulli', '1')" type="button" class="btn btn-success btn-sm checkInstanceBtn" style="font-size:18px;"><i class="fas fa-check-double"></i></button>
                                                    </div>
                                                </td>
                                                <td>
                                                    <form class="form-inline">
                                                        <div class="form-group" style="width:100%">
                                                            <div class="input-group" style="width:100%">
                                                                {{- if (locked (printf "%s_TAUTULLI_NAME" .Flags.EnvPrefix))}}
                                                                <div style="width:30px; max-width:30px;" class="input-group-addon input-sm">
                                                                    <div style="display:none;" class="dialogText">
                                                                        An environment variable exists for this value. Your new value will write to the config file, but the application will not use it.
                                                                    </div>
                                                                    <a onClick="dialog($(this), 'left')" class="help-icon fas fa-outdent"></a>
                                                                    <span class="dialogTitle" style="display:none;">Variable: {{printf "%s_TAUTULLI_NAME" .Flags.EnvPrefix}}</span>
                                                                </div>
                                                                {{- end}}
                                                                <input type="text" id="Apps.Tautulli.Name" name="Apps.Tautulli.Name" class="client-parameter form-control input-sm" data-group="media" data-label="Tautulli Name" data-original="{{.Config.Apps.Tautulli.Name}}" value="{{.Config.Apps.Tautulli.Name}}">
                                                            </div>
                                                        </div>
                                                    </form>
                                                </td>
                                                <td>
                                                    <form class="form-inline">
                                                        <div class="form-group" style="width:100%">
                                                            <div class="input-group" style="width:100%">
                                                                {{- if (locked (printf "%s_TAUTULLI_URL" .Flags.EnvPrefix))}}
                                                                <div style="width:30px; max-width:30px;" class="input-group-addon input-sm">
                                                                    <div style="display:none;" class="dialogText">
                                                                        An environment variable exists for this value. Your new value will write to the config file, but the application will not use it.
                                                                    </div>
                                                                    <a onClick="dialog($(this), 'left')" class="help-icon fas fa-outdent"></a>
                                                                    <span class="dialogTitle" style="display:none;">Variable: {{printf "%s_TAUTULLI_URL" .Flags.EnvPrefix}}</span>
                                                                </div>
                                                                {{- end}}
                                                                <input type="text" id="Apps.Tautulli.URL" name="Apps.Tautulli.URL" class="client-parameter form-control input-sm" data-group="media" data-label="Tautulli URL" data-original="{{.Config.Apps.Tautulli.URL}}" value="{{.Config.Apps.Tautulli.URL}}">
                                                            </div>
                                                        </div>
                                                    </form>
                                                </td>
                                                <td>
                                                    <form class="form-inline">
                                                        <div class="form-group" style="width:100%">
                                                            <div class="input-group" style="width:100%">
                                                                {{- if (locked (printf "%s_TAUTULLI_API_KEY" .Flags.EnvPrefix))}}
                                                                <div style="width:30px; max-width:30px;" class="input-group-addon input-sm">
                                                                    <div style="display:none;" class="dialogText">
                                                                        An environment variable exists for this value. Your new value will write to the config file, but the application will not use it.
                                                                    </div>
                                                                    <a onClick="dialog($(this), 'left')" class="help-icon fas fa-outdent"></a>
                                                                    <span class="dialogTitle" style="display:none;">Variable: {{printf "%s_TAUTULLI_API_KEY" .Flags.EnvPrefix}}</span>
                                                                </div>
                                                                {{- end}}
                                                                <input type="password" autocomplete="off" id="Apps.Tautulli.APIKey" name="Apps.Tautulli.APIKey" data-app="Tautulli" class="client-parameter form-control input-sm" data-group="media" data-label="Tautulli API Key" data-original="{{.Config.Apps.Tautulli.APIKey}}" value="{{.Config.Apps.Tautulli.APIKey}}">
                                                                <div style="width:35px; max-width:35px;" class="input-group-addon input-sm" onClick="togglePassword('Apps.Tautulli.APIKey', $(this).find('i'));"><i class="fas fa-low-vision secret-input"></i></div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </td>
                                                <td>
                                                    <form class="form-inline">
                                                        <div class="form-group" style="width:100%">
                                                            <div class="input-group" style="width:100%">
                                                                {{- if (locked (printf "%s_TAUTULLI_INTERVAL" .Flags.EnvPrefix))}}
                                                                <div style="width:30px; max-width:30px;" class="input-group-addon input-sm">
                                                                    <div style="display:none;" class="dialogText">
                                                                        An environment variable exists for this value. Your new value will write to the config file, but the application will not use it.
                                                                    </div>
                                                                    <a onClick="dialog($(this), 'left')" class="help-icon fas fa-outdent"></a>
                                                                    <span class="dialogTitle" style="display:none;">Variable: {{printf "%s_TAUTULLI_INTERVAL" .Flags.EnvPrefix}}</span>
                                                                </div>
                                                                {{- end}}
                                                                <input type="text" id="Apps.Tautulli.Interval" name="Apps.Tautulli.Interval" class="client-parameter form-control input-sm" data-group="media" data-label="Tautulli Interval" data-original="{{.Config.Apps.Tautulli.Interval}}" value="{{.Config.Apps.Tautulli.Interval}}">
                                                            </div>
                                                        </div>
                                                    </form>
                                                </td>
                                                <td>
                                                    <form class="form-inline">
                                                        <div class="form-group" style="width:100%">
                                                            <div class="input-group" style="width:100%">
                                                                {{- if (locked (printf "%s_TAUTULLI_TIMEOUT" .Flags.EnvPrefix))}}
                                                                <div style="width:30px; max-width:30px;" class="input-group-addon input-sm">
                                                                    <div style="display:none;" class="dialogText">
                                                                        An environment variable exists for this value. Your new value will write to the config file, but the application will not use it.
                                                                    </div>
                                                                    <a onClick="dialog($(this), 'left')" class="help-icon fas fa-outdent"></a>
                                                                    <span class="dialogTitle" style="display:none;">Variable: {{printf "%s_TAUTULLI_TIMEOUT" .Flags.EnvPrefix}}</span>
                                                                </div>
                                                                {{- end}}
                                                                <select type="select" id="Apps.Tautulli.Timeout" name="Apps.Tautulli.Timeout" class="client-parameter form-control input-sm" data-group="media" data-label="Tautulli Timeout" data-original="{{.Config.Apps.Tautulli.Timeout}}">
                                                                    <option value="-1s">Disabled</option>
                                                                    <option value="0s">No Timeout</option>
                                                                    {{- range $i := one259 }}
                                                                    <option {{if eq $.Config.Apps.Tautulli.Timeout.Seconds $i}}selected {{end}}value="{{$i}}s">{{$i}} second{{if not (eq $i (add 0 1))}}s{{end}}</option>
                                                                    {{- end}}
                                                                    <option {{if eq $.Config.Apps.Tautulli.Timeout.Seconds (add 0 60)}}selected {{end}}value="1m">1 minute</option>
                                                                    {{- range $i := one259 }}
                                                                    <option {{if eq $.Config.Apps.Tautulli.Timeout.Seconds (add 60 $i)}}selected {{end}}value="1m{{$i}}s">1 min {{$i}} sec</option>
                                                                    {{- end}}
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
{{- /* end of media (leave this comment) */ -}}
