                                <h1><i class="fas fa-photo-video"></i> Media Apps</h1>
                                <p>
                                    <li style="list-style: disc;">The Plex integration is comprehensive, and many of the settings are configured on the Notifiarr.com website.</li>
                                    <li style="list-style: disc;">The Tautulli integration is used to provide a Plex username to custom name mapping in notifications.</li>
                                    <li style="list-style: disc;"><b>To disable Plex or Tautulli, simply remove the URL for the application.</b> The client only supports one of each.</li>
                                </p>
                                <div style="table-responsive">
                                    <table class="table bk-dark table-bordered">
                                        <thead>
                                            <tr><td colspan="6" style="text-align:center;">
                                                <div style="float: left;"><img src="{{files}}/images/logo/plex.png" style="height:50px;"></div>
                                                <h2 class="mb-3" style="margin-bottom:-45px">Plex</h2>
                                            </td></tr>
                                            <tr>
                                                <td style="min-width:160px;">Application Name&nbsp; <i class="help-icon fas fa-user-lock" title="The name for Plex comes from Plex and cannot be changed here. There is no automatic way to add a service check to Plex. If you want service checks, add one for it in Service Checks."></i></td>
                                                <td style="min-width:180px;">Application URL <i class="help-icon far fa-question-circle" title="If your application has a Base URL, include it."></i></td>
                                                <td colspan="2">Application Token
                                                    <a target="_new" href="https://support.plex.tv/articles/204059436-finding-an-authentication-token-x-plex-token/">
                                                        <i class="help-icon far fa-question-circle" title="Click this ? icon to find directions for how to locate your Plex token."></i>
                                                    </a>
                                                </td>
                                                <td style="min-width:90px;width:90px">Timeout <i class="help-icon far fa-question-circle" title="This controls the maximum duration a request to Plex may elapse."></i></td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {{- if .Config.Plex}}
                                            <tr>
                                                <td>
                                                    <input disabled type="text" id="Plex.Name" name="Plex.Name" class="client-parameter" data-group="media" data-label="Plex Name" data-original="{{.Config.Plex.Name}}" value="{{.Config.Plex.Name}}" style="width: 100%;">
                                                </td>
                                                <td>
                                                    {{- if locked (printf "%s_PLEX_URL" .Flags.EnvPrefix)}}
                                                    <i style="width:10px;" class="help-icon fas fa-lock" title="An environment variable exists for this value. Your new value will write to the config file, but the application will not use it."></i>
                                                    {{- end}}
                                                    <input type="text" id="Plex.URL" name="Plex.URL" class="client-parameter" data-group="media" data-label="Plex URL" data-original="{{.Config.Plex.URL}}" value="{{.Config.Plex.URL}}" style="width:{{if locked (printf "%s_PLEX_URL" .Flags.EnvPrefix)}}calc(100% - 15px){{else}}100%{{end}};">
                                                </td>
                                                <td colspan="2">
                                                  <form>
                                                    {{- if (locked (printf "%s_PLEX_TOKEN" .Flags.EnvPrefix))}}
                                                    <i style="width:10px;" class="help-icon fas fa-lock" title="An environment variable exists for this value. Your new value will write to the config file, but the application will not use it."></i>
                                                    {{- end}}
                                                    <input type="password" id="Plex.Token" name="Plex.Token" class="client-parameter" data-group="media" data-label="Plex Token" data-original="{{.Config.Plex.Token}}" value="{{.Config.Plex.Token}}" style="width:{{if (locked (printf "%s_PLEX_TOKEN" .Flags.EnvPrefix))}}calc(100% - 15px){{else}}100%{{end}};">
                                                    <i class="fas fa-eye-slash password-input" onClick="togglePassword($(this));"></i>
                                                  </form>
                                                </td>
                                                <td>
                                                    {{- if locked (printf "%s_PLEX_TIMEOUT" .Flags.EnvPrefix)}}
                                                    <i style="width:10px;" class="help-icon fas fa-lock" title="An environment variable exists for this value. Your new value will write to the config file, but the application will not use it."></i>
                                                    {{- end}}
                                                    <input type="text" id="Plex.Timeout" name="Plex.Timeout" class="client-parameter" data-group="media" data-label="Plex Timeout" data-original="{{.Config.Plex.Timeout}}" value="{{.Config.Plex.Timeout}}" style="width:{{if locked (printf "%s_PLEX_TIMEOUT" .Flags.EnvPrefix)}}}calc(100% - 15px){{else}}100%{{end}};">
                                                </td>
                                            </tr>
                                        {{- else}}
                                                <tr><td colspan="6">No Plex instance configured.</td></tr>
                                        {{- end}}
                                        </tbody>
                                        <thead>
                                            <tr><td colspan="6" style="text-align:center;">
                                                <div style="float: left;"><img src="{{files}}/images/logo/tautulli.png" style="height:50px;"></div>
                                                <h2 class="mb-3" style="margin-bottom:-45px">Tautulli</h2>
                                            </td></tr>
                                            <tr>
                                                <td>Application Name <i class="help-icon far fa-question-circle" title="Adding a name to any application enables service checks for the instance."></i></td>
                                                <td>Application URL <i class="help-icon far fa-question-circle" title="If your application has a Base URL, include it."></i></td>
                                                <td style="min-width:150px;">API Key <i class="help-icon far fa-question-circle" title="Get this from Tautulli Settings."></i></td>
                                                <td style="min-width:85px;width:85px;">Interval <i class="help-icon far fa-question-circle" title="Service checks are enabled when a name is added. This controls how often to check."></i></td>
                                                <td>Timeout <i class="help-icon far fa-question-circle" title="This controls the maximum duration a request to Tautulli may elapse."></i></td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {{- if .Config.Apps.Tautulli}}
                                            <tr>
                                                <td>
                                                    {{- if locked (printf "%s_TAUTULLI_NAME" .Flags.EnvPrefix)}}
                                                    <i style="width:10px;" class="help-icon fas fa-lock" title="An environment variable exists for this value. Your new value will write to the config file, but the application will not use it."></i>
                                                    {{- end}}
                                                    <input type="text" id="Apps.Tautulli.Name" name="Apps.Tautulli.Name" class="client-parameter" data-group="media" data-label="Tautulli Name" data-original="{{.Config.Apps.Tautulli.Name}}" value="{{.Config.Apps.Tautulli.Name}}" style="width:{{if locked (printf "%s_TAUTULLI_NAME" .Flags.EnvPrefix)}}}calc(100% - 15px){{else}}100%{{end}};">
                                                </td>
                                                <td>
                                                    {{- if locked (printf "%s_TAUTULLI_URL" .Flags.EnvPrefix)}}
                                                    <i style="width:10px;" class="help-icon fas fa-lock" title="An environment variable exists for this value. Your new value will write to the config file, but the application will not use it."></i>
                                                    {{- end}}
                                                    <input type="text" id="Apps.Tautulli.URL" name="Apps.Tautulli.URL" class="client-parameter" data-group="media" data-label="Tautulli URL" data-original="{{.Config.Apps.Tautulli.URL}}" value="{{.Config.Apps.Tautulli.URL}}" style="width:{{if locked (printf "%s_TAUTULLI_URL" .Flags.EnvPrefix)}}}calc(100% - 15px){{else}}100%{{end}};">
                                                </td>
                                                <td>
                                                  <form>
                                                    {{- if locked (printf "%s_TAUTULLI_API_KEY" .Flags.EnvPrefix)}}
                                                    <i style="width:10px;" class="help-icon fas fa-lock" title="An environment variable exists for this value. Your new value will write to the config file, but the application will not use it."></i>
                                                    {{- end}}
                                                    <input type="password" id="Apps.Tautulli.APIKey" name="Apps.Tautulli.APIKey" class="client-parameter" data-group="media" data-label="Tautulli API Key" data-original="{{.Config.Apps.Tautulli.APIKey}}" value="{{.Config.Apps.Tautulli.APIKey}}" style="width:{{if locked (printf "%s_TAUTULLI_API_KEY" .Flags.EnvPrefix)}}}calc(100% - 15px){{else}}100%{{end}};">
                                                    <i class="fas fa-eye-slash password-input" onClick="togglePassword($(this));"></i>
                                                  </form>
                                                </td>
                                                <td>
                                                    {{- if locked (printf "%s_TAUTULLI_INTERVAL" .Flags.EnvPrefix)}}
                                                    <i style="width:10px;" class="help-icon fas fa-lock" title="An environment variable exists for this value. Your new value will write to the config file, but the application will not use it."></i>
                                                    {{- end}}
                                                    <input type="text" id="Apps.Tautulli.Interval" name="Apps.Tautulli.Interval" class="client-parameter" data-group="media" data-label="Tautulli Interval" data-original="{{.Config.Apps.Tautulli.Interval}}" value="{{.Config.Apps.Tautulli.Interval}}" style="width:{{if locked (printf "%s_TAUTULLI_INTERVAL" .Flags.EnvPrefix)}}}calc(100% - 15px){{else}}100%{{end}};">
                                                </td>
                                                <td>
                                                    {{- if locked (printf "%s_TAUTULLI_TIMEOUT" .Flags.EnvPrefix)}}
                                                    <i style="width:10px;" class="help-icon fas fa-lock" title="An environment variable exists for this value. Your new value will write to the config file, but the application will not use it."></i>
                                                    {{- end}}
                                                    <input type="text" id="Apps.Tautulli.Timeout" name="Apps.Tautulli.Timeout" class="client-parameter" data-group="media" data-label="Tautulli Timeout" data-original="{{.Config.Apps.Tautulli.Timeout}}" value="{{.Config.Apps.Tautulli.Timeout}}" style="width:{{if locked (printf "%s_TAUTULLI_TIMEOUT" .Flags.EnvPrefix)}}}calc(100% - 15px){{else}}100%{{end}};">
                                                </td>
                                            </tr>
                                        {{- else}}
                                            <tr><td colspan="6">No Tautulli instance configured.</td></tr>
                                        {{- end}}
                                        </tbody>
                                    </table>
                                </div>
{{- /* end of media (leave this comment) */ -}}
