                                <h1><i class="fas fa-temperature-high"></i> Monitoring</h1>
                                <p>
                                    This page provides an overview of your running service checks.
                                    Configure the service checks displayed on the <a href="#services" onClick="swapNavigationTemplate('services')">Services page</a>.
                                </p>
                                <div class="row">
                                    <div class="col-lg-12 col-md-12">
                                    {{- if .Config.Services.Disabled }}
                                        <h2 class="text-danger">Service Checks: Disabled</h2>
                                        <p>Enable service checks on the <a href="#config" onClick="swapNavigationTemplate('config')">Configuration page</a>.</p>
                                    {{- else if not .Config.Services.Running }}
                                        <h2 class="text-danger">Service Checks: Stopped</h2>
                                        <button class="btn btn-md btn-success" style="float:right;margin-top:-45px" onClick="servicesAction('start', 'monitoring');">Start Service Checks</button>
                                    {{- else}}
                                        <button class="btn btn-md btn-primary" onclick="refreshPage('monitoring')">Refresh Page</button>
                                        <button class="btn btn-md btn-danger" style="float:right;" onClick="servicesAction('stop', 'monitoring');">Stop Service Checks</button>
                                    {{- end}}
                                    </div>
                                </div>
                                <div class="row mt">
                                  <div class="col-lg-12 col-md-12">
                                        <div class="table-responsive">
                                            <table class="table table-bordered servicetable" style="width:100%">
                                                <thead>
                                                    <tr>
                                                        <td class="text-bold">Name</td>
                                                        <td class="text-bold">State</td>
                                                        <td class="text-bold" style="display:none;">State Integer</td>
                                                        <td class="text-bold">Type</td>
                                                        <td class="text-bold">Last <i class="help-icon far fa-question-circle" title="How long ago this service was checked."></i></td>
                                                        <td class="text-bold">Since <i class="help-icon far fa-question-circle" title="How long the service has been in this state."></i></td>
                                                        <td class="text-bold">Interval <i class="help-icon far fa-question-circle" title="How often this service is checked."></i></td>
                                                        <td class="text-bold">Output</td>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                {{- range .Config.Services.GetResults }}
                                                    <tr class="bk-{{if eq .State 0}}success{{else if eq .State 1}}warning{{else if eq .State 2}}danger{{else}}brand{{end}}">
                                                        <td><span class="text-bold" title="{{.Check}}">{{.Name}}</span> <a href="#monitoring" onClick="servicesAction('check/{{.Name}}', 'monitoring', 2500);" style="float:right;" title="Recheck this service." class="far fa-redo-alt"></a></td>
                                                        <td title="{{.State.Value}}">{{.State}}</td>
                                                        <td style="display:none;">{{.State.Value}}</td>
                                                        <td title="{{.Expect}}">{{.Type}}</td>
                                                        <td title="{{.Time}}">{{since .Time}}</td>
                                                        <td title="{{.Since}}">{{since .Since}}</td>
                                                        <td>{{.IntervalDur}}</td>
                                                        <td>{{.Output}}</td>
                                                    </tr>
                                                {{- end}}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
{{- /* end of monitoring (leave this comment) */ -}}
