          <nav class="ts-sidebar">
              <ul class="ts-sidebar-menu">{{ if .Username }}
                  <li class="ts-label" style="text-align: center;">Navigation</li>
                  <li><i class="nav-icon fas fa-cogs"></i> <a class="nav-link" onclick="swapNavigationTemplate('config')">Configuration</a></li>
                  <li><i class="nav-icon fas fa-star"></i> <a class="nav-link" onclick="swapNavigationTemplate('starr')">Starr Apps</a></li>
                  <li><i class="nav-icon fas fa-file-download"></i>&nbsp;&nbsp; <a class="nav-link" onclick="swapNavigationTemplate('downloadClients')">Download Client Apps</a></li>
                  <li><i class="nav-icon fas fa-photo-video"></i> <a class="nav-link" onclick="swapNavigationTemplate('media')">Media Apps</a></li>
                  <li><i class="nav-icon fas fa-tablets"></i> <a class="nav-link" onclick="swapNavigationTemplate('misc')">Misc Apps</a></li>
                  <hr>
                  <li><i class="nav-icon fas fa-network-wired"></i> <a class="nav-link" onclick="swapNavigationTemplate('services')">Network Services</a></li>
                  <li><i class="nav-icon fas fa-chart-line"></i>&nbsp; <a class="nav-link" onclick="swapNavigationTemplate('metrics')">Metrics</a></li>
                  <li><i class="nav-icon fas fa-file-alt"></i>&nbsp;&nbsp; <a class="nav-link" onclick="swapNavigationTemplate('logfiles')">Log Files</a></li>
                  <hr>
                  <li>{{if eq .Version.os "windows"}}<i class="nav-icon fab fa-windows"></i>&nbsp;
                      {{else if eq .Version.os "linux"}}<i class="nav-icon fab fa-linux"></i>&nbsp;
                      {{else if eq .Version.os "freebsd"}}<i class="nav-icon fab fa-freebsd"></i>&nbsp;
                      {{else if eq .Version.os "darwin"}}<i class="nav-icon fab fa-apple"></i>&nbsp;
                      {{else}}<i class="nav-icon fas fa-microchip"></i>&nbsp;{{end}}<a class="nav-link" onclick="swapNavigationTemplate('system')">System</a></li>{{ end }}
              </ul>
          </nav>
