<h1><i class="fas fa-receipt"></i> Process List</h1>
| <a href="#services" onclick="swapNavigationTemplate('services');"> Services</a>
| <a href="#system-snapshot" onclick="swapNavigationTemplate('system-snapshot');"> Snapshot</a> |
<p>
    <span id="process-list-msg">Stand by, Captain!</span> &nbsp;•&nbsp;
    <a href="#processlist" onClick="refreshPage('processlist');showProcessList();">Refresh Page</a>
</p>
<div id="process-list-content" class="well well-sm file-content scroll-bar-sm bk-brown brdr">
    <h4><i class="fas fa-cog fa-spin"></i> Loading process list...</h4>
</div>
{{- /* end of proclist (leave this comment) */ -}}
