                                <h1><i class="fas fa-receipt"></i> Process List</h1>
                                <h3>
                                    <a class="nav-link" onClick="swapNavigationTemplate('services')">
                                    <i class="fas fa-angle-double-left"></i> Go Back</a>
                                </h3>
                                <p>
                                    <span id="process-list-msg">Stand by, Captain!</span> &nbsp;•&nbsp;
                                    <a href="#services" onClick="refreshPage('processlist');showProcessList();">Refresh Page</a>
                                </p>
                                <div id="process-list-content" class="well well-sm file-content scroll-bar-sm bk-brown brdr">
                                    <h4><i class="fas fa-cog fa-spin"></i> Loading process list...</h4>
                                </div>
{{- /* end of proclist (leave this comment) */ -}}
