                                {{- if .ClientInfo.IsSub}}
                                <h1><font color="green"><i class="fas fa-{{if .ClientInfo.User.DevAllowed}}user-secret{{else}}user-tie{{end}}"></i></font> Auth Profile</h1>
                                {{- else if .ClientInfo.IsPatron}}
                                <h1><font color="purple"><i class="fas fa-{{if .ClientInfo.User.DevAllowed}}user-secret{{else}}user-ninja{{end}}"></i></font> Auth Profile</h1>
                                {{- else}}
                                <h1><i class="fas fa-user-alt" style="float:left;font-size:40px"></i> Auth Profile</h1>
                                {{- end}}
                                <p>
                                    <li><i class="fas fa-star text-dgrey"></i> This page controls how you log into this Notifiarr client application.</li>
                                    <li><i class="fas fa-star text-dgrey"></i> Username and Password are only used if Auth Type is set to Password.</li>
                                    <li><i class="fas fa-star text-dgrey"></i> Auth Header is only used if Auth Type is <i>not</i> set to Password.</li>
                                    <li><i class="fas fa-star text-dgrey"></i> See <a href="https://notifiarr.wiki/en/Client/ReverseProxy">the wiki</a> for instructions setting up an authentication proxy.</li>
                                    <li><i class="fas fa-star text-dgrey"></i> If Auth Type changes, reload <a href="#profile" onClick="reloadConfig();"><i class="fas fa-recycle text-success"></i></a> 
                                        and log out <a href="logout#profile"><i class="fas fa-sign-out-alt text-danger"></i></a> to complete the process.</li>
                                    {{- if not .ProxyAllow}}
                                    <li><i class="fas fa-star text-danger"></i> Proxy authentication is disabled because your upstream (<b>{{.UpstreamIP}}</b>) 
                                        is not in the <a href="#config" onClick="swapNavigationTemplate('config')">allowed upstreams list</a>.</li>
                                    {{- end}}
                                </p>
                                <table class="table bk-dark table-bordered">
                                    <thead>
                                        <tr>
                                            <td><b>Setting</b></td>
                                            <td><b>Current Value</b></td>
                                            <td><b>New Value</b></td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <span class="dialogTitle">Auth Type</span>
                                                <div style="display:none;" class="dialogText">
                                                    Three auth types are currently support.
                                                    Auth Proxy and No Password are only available if the current request comes from a valid, known
                                                    upstream IP address. Configure known upstreams on the main
                                                    <a href="#config" onClick="swapNavigationTemplate('config')">Configuration</a> page.
                                                    <h4>Password: Local Username</h4>
                                                    This is the default auth type.
                                                    Select the Password option to log into this application with a configured username and password.
                                                    Only 1 username and password is supported.
                                                    When selecting this option, you must fill in the username and new password fields.
                                                    If this is the current auth type you must also fill in the current password field.
                                                    <h4>Auth Proxy: Header</h4>
                                                    Select this option to log into this application using an HTTP header that container a username.
                                                    This is commonly known as proxy authentication. We have
                                                    <a href="https://notifiarr.wiki/en/Client/ReverseProxy">a wiki page</a>
                                                    that provides instructions to configure Nginx for this feature.
                                                    When selecting this option, you must also select a header for the auth proxy.
                                                    If no headers are displayed, then no valid headers were provided by the upstream proxy.
                                                    <h4>No Password</h4>
                                                    This configuration is not recommended.
                                                    The No Password auth type allows any request from a known <code>upstream</code> IP.
                                                    It also works with an auth proxy to set the username. If no username is in the provided header,
                                                    then it defaults to admin.
                                                </div>
                                                <a onClick="dialog($(this), 'left')" class="help-icon far fa-question-circle"></a>
                                            </td>
                                            <td>{{.Config.UIPassword.Type.String}}</td>
                                            <td>
                                                <select id="AuthType" name="AuthType" class="profile-parameter form-control input-sm" type="select">
                                                    <option value="password"{{if eq .Config.UIPassword.Type 0}} selected{{end}}>Passowrd: Local Username</option>
                                                    <option value="header"{{if eq .Config.UIPassword.Type 1}} selected{{end}}{{if not .ProxyAllow}} disabled{{end}}>Auth Proxy: Header</option>
                                                    <option value="nopass"{{if eq .Config.UIPassword.Type 2}} selected{{end}}{{if not .ProxyAllow}} disabled{{end}}>No Password (danger)</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span class="dialogTitle">Auth Header</span>
                                                <div style="display:none;" class="dialogText">
                                                    This displays headers that are provided by the client or upstream that may be used for
                                                    proxy authentication. This selection is only used if auth type is set to header.
                                                    Choose the header that displays your proper username.
                                                </div>
                                                <a onClick="dialog($(this), 'left')" class="help-icon far fa-question-circle"></a>
                                            </td>
                                            <td>{{if .Config.UIPassword.Webauth}}{{.Config.UIPassword.Header}}{{else}}none{{end}}</td>
                                            <td>
                                                <select id="AuthHeader" name="AuthHeader" class="profile-parameter form-control input-sm" type="select">
                                                    {{- range $header, $val := .Headers }}
                                                        {{- /* Hide some headers, but not the one that's currently selected. */ -}}
                                                        {{ if or (eq (lower $header) (lower $.Config.UIPassword.Header)) (and 
                                                            (ne (lower $header) "cookie") (ne (lower $header) "accept") (ne (lower $header) "upgrade-insecure-requests")
                                                            (ne (lower $header) "accept-encoding") (ne (lower $header) "accept-language") (ne (lower $header) "connection")  
                                                            (ne (lower $header) "x-forwarded-for") (ne (lower $header) "x-redacted-uri")  (ne (lower $header) "user-agent")
                                                            (ne (lower $header) "referer") (ne (lower $header) "x-noticlient-username") (ne (lower $header) "cache-control")
                                                        )}}
                                                    <option value="{{$header}}"{{if eq (lower $header) (lower $.Config.UIPassword.Header)}} selected{{end}}>{{$header}}: {{index $val 0}}</option>
                                                        {{- end }}
                                                    {{- end }}
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Username</td>
                                            <td id="current-username">{{.Username}}</td>
                                            <td>
                                                <form class="form-inline">
                                                    <div class="form-group" style="width:100%">
                                                        <div class="input-group" style="width:100%">
                                                            {{- if (locked (printf "%s_UI_PASSWORD" .Flags.EnvPrefix))}}
                                                            <div style="width:30px; max-width:30px;" class="input-group-addon input-sm">
                                                                <div style="display:none;" class="dialogText">
                                                                    An environment variable exists for this value. Your new value will write to the config file, but the application will not use it.
                                                                </div>
                                                                <a onClick="dialog($(this), 'right')" class="help-icon fas fa-outdent"></a>
                                                                <span class="dialogTitle" style="display:none;">Env Variable: {{printf "%s_UI_PASSWORD" .Flags.EnvPrefix}}</span>
                                                            </div>
                                                            {{- end}}
                                                            <input type="text" id="NewUsername" name="NewUsername" value="{{.Username}}" class="profile-parameter form-control input-sm" style="width: {{if (locked (printf "%s_UI_PASSWORD" .Flags.EnvPrefix))}}calc(100% - 15px){{else}}100%{{end}};">
                                                        </div>
                                                    </div>
                                                </form><!-- in its own form to avoid browser auto complete -->
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Password</td>
                                            <td>
                                                {{- if .Webauth}}
                                                none
                                                {{- else}}
                                                <input placeholder="enter current password" type="password" id="Password" name="Password" class="profile-parameter form-control input-sm" style="width: 100%;">
                                                {{- end}}
                                            </td>
                                            <td>
                                                <form class="form-inline">
                                                    <div class="form-group" style="width:100%">
                                                        <div class="input-group" style="width:100%">
                                                            {{- if (locked (printf "%s_UI_PASSWORD" .Flags.EnvPrefix))}}
                                                                <div style="width:30px; max-width:30px;" class="input-group-addon input-sm">
                                                                    <div style="display:none;" class="dialogText">
                                                                        An environment variable exists for this value. Your new value will write to the config file, but the application will not use it.
                                                                    </div>
                                                                    <a onClick="dialog($(this), 'right')" class="help-icon fas fa-outdent"></a>
                                                                    <span class="dialogTitle" style="display:none;">Env Variable: {{printf "%s_UI_PASSWORD" .Flags.EnvPrefix}}</span>
                                                                </div>
                                                            {{- end}}
                                                            <input placeholder="9 character minimum" type="password" autocomplete="new-password" id="NewPassword" name="NewPassword" class="profile-parameter form-control input-sm" style="width: {{if (locked (printf "%s_UI_PASSWORD" .Flags.EnvPrefix))}}calc(100% - 15px){{else}}100%{{end}};">
                                                            <div style="width:35px; max-width:35px;" class="input-group-addon input-sm" onClick="togglePassword('NewPassword', $(this).find('i'));"><i class="fas fa-low-vision secret-input"></i></div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <p>
                                    <button onclick="saveProfileChanges()" class="btn btn-primary">Save Changes</button>
                                    {{- if not .Webauth}}
                                    &nbsp;You must enter your current password to save changes.{{end}}
                                </p>
                                <hr>
                                <h2><i class="fas fa-stroopwafel"></i> Fortune</h2>
                                <div class="col-md-10 col-md-offset-1"><pre class="bk-dark text-white">{{fortune}}</pre></div>
{{- /* end of profile (leave this comment) */ -}}
