                                <h1><i class="fa fa-user"></i> User Profile</h1>
                            {{- if .Dynamic }}
                                <p>Profile editing is disabled for dynamic users.</p>
                            {{- else }}
                                <p>You must enter your current password to save changes.</p>
                                <table class="table bk-dark table-bordered">
                                    <thead>
                                        <tr>
                                            <td><b>Setting</b></td>
                                            <td><b>Current Value</b></td>
                                            <td><b>New Value</b></td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Username</td>
                                            <td id="current-username">{{.Username}}</td>
                                            <td>
                                                <form>
                                                {{- if (locked (printf "%s_UI_PASSWORD" .Flags.EnvPrefix))}}
                                                    <i class="help-icon fas fa-lock" style="width:10px;" title="An environment variable exists for this value. Your new value will write to the config file, but the application will not use it."></i>
                                                {{- end}}
                                                    <input type="text" id="NewUsername" name="NewUsername" value="{{.Username}}" class="profile-parameter" style="width: {{if (locked (printf "%s_UI_PASSWORD" .Flags.EnvPrefix))}}calc(100% - 15px){{else}}100%{{end}};">
                                                </form><!-- in its own form to avoid browser auto complete -->
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Password</td>
                                            <td><input placeholder="enter current password" type="password" id="Password" name="Password" class="profile-parameter" style="width: 100%;"></td>
                                            <td>
                                                {{- if (locked (printf "%s_UI_PASSWORD" .Flags.EnvPrefix))}}
                                                <i class="help-icon fas fa-lock" style="width:10px;" title="An environment variable exists for this value. Your new value will write to the config file, but the application will not use it."></i>
                                                {{- end}}
                                                <input placeholder="must be least 16+ chars" type="password" autocomplete="new-password" id="NewPassword" name="NewPassword" class="profile-parameter" style="width: {{if (locked (printf "%s_UI_PASSWORD" .Flags.EnvPrefix))}}calc(100% - 15px){{else}}100%{{end}};">
                                                <i class="fas fa-eye-slash password-input" onClick="togglePassword($(this));"></i>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <button onclick="saveProfileChanges()" class="btn btn-primary">Save Changes</button>
                            {{- end}}
{{- /* end of profile (leave this comment) */ -}}
