                    <h1><i class="fas fa-network-wired"></i> Service Checks</h1>
                    <div class="col-lg-10 col-md-12 col-sm-12 mb">
                        <p>The Notifiarr client application is capable of monitoring services via HTTP checks,
                           TCP port checks or process running (and not running) checks. Use the form at the bottom
                           of this page to configure service checks. <b>This client service checks work with the Notifiarr.com
                           Nework Integration.</b></p>
                        <h3>Process Check Type</h3>
                        <p>The Process check type allows you to monitor that a process is running.
                            <a class="nav-link" onClick="refreshPage('processlist', false);showProcessList();">View the running process list here.</a>
                            You may provide expect values to make sure a specific number or min/max count of process is running.
                            <li style="list-style: disc;">Selecting the <b>Running</b> expect value will trigger an unhealthy alert if this application is found running. Rarely used.</li>
                            <li style="list-style: disc;">Selecting the <b>Restart</b> expect value will trigger an unhealthy alert if this application is found to have restarted.</li>
                        </p>
                        <h3>HTTP Check Type</h3>
                        <p>The HTTP check type allows you to monitor a URL and expect a specific status code in response.
                            The expect value should be a a valid HTTP response code like <code>200</code> or <code>400</code>.
                            Providing an invalid code will default to 200. The check value must be a valid url beginning with
                            <code>http://</code> or <code>https://</code>.
                        </p>
                        <h3>TCP Port Check Type</h3>
                        <p>The TCP Port check type allows you to monitor a TCP port's connectivity.
                            This check type does not take any special arguments and does not use the expect value.
                            Simply provide a host (or IP) and port in the format <code>host:port</code>, example: <code>127.0.0.1:22</code>
                        <p>
                        </p>
                    </div>
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <td colspan="7" style="text-align:center;">
                                    <div style="float: left;"><img src="{{files}}/images/golift.png" style="height:50px;"></div>
                                    <h3 style="display: inline;">Check Configuration</h3>
                                    <div style="float: right;">
                                        <button id="services-Checks-addbutton" onclick="addServiceCheck()" data-prefix="Services" data-names='["Name","Type","Value","Expect","Interval","Timeout"]' type="button" title="Add another Service Check." class="add-new-item-button btn btn-primary"><i class="fa fa-plus"></i></button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>#</td>
                                <td>Name</td>
                                <td>Type</td>
                                <td>Check Value</td>
                                <td>Expect</td>
                                <td style="width:90px">Interval <i class="help-icon far fa-question-circle" title="This interval value controls how often the service is checked."></i></td>
                                <td style="width:70px">Timeout</td>
                            </tr>
                        </thead>
                        <tbody id="services-Checks-container">
                        {{- range $index, $svc := .Config.Service}}
                            <input disabled style="display: none;" class="client-parameter services-Checks{{$index}}-deleted" data-group="services" data-label="Checks {{instance $index}} Deleted" data-original="false" value="false">
                            <tr class="services-Checks" id="services-Checks-{{$index}}">
                                <td style="font-size: 22px;"><span id="checksIndexLabel{{$index}}">{{instance $index}}</span>
                                    <div class="services-Checks-deletebutton" style="float: right;">
                                        <button onclick="removeInstance('services-Checks', {{$index}})" type="button" title="Delete this Service Check" class="delete-item-button btn btn-danger btn-sm"><i class="fa fa-minus"></i></button>
                                    </div>
                                </td>
                                <td>
                                    <table width="100%"><tr>
                                    {{- if locked (printf "%s_SERVICE_%d_NAME" $.Flags.EnvPrefix $index) }}
                                        <td style="width:10px;"><i class="help-icon far fa-lock" title="An environment variable exists for this value. Your new value will write to the config file, but the application will not use it."></i></td>
                                    {{- end}}
                                        <td><input type="text" id="Service.{{$index}}.Name" data-index="{{$index}}" data-app="checks" class="client-parameter" data-group="services" data-label="Check {{instance $index}} Name" data-original="{{$svc.Name}}" value="{{$svc.Name}}" style="width: 100%;"></td>
                                    </tr></table>
                                </td>
                                <td>
                                    <table width="100%"><tr>
                                    {{- if locked (printf "%s_SERVICE_%d_TYPE" $.Flags.EnvPrefix $index) }}
                                        <td style="width:10px;"><i class="help-icon far fa-lock" title="An environment variable exists for this value. Your new value will write to the config file, but the application will not use it."></i></td>
                                    {{- end}}
                                        <td>
                                            <select id="Service.{{$index}}.Type" data-index="{{$index}}" onChange="checkTypeChange($(this));" data-app="checks" class="client-parameter" data-group="services" data-label="Check {{instance $index}} Type" data-original="{{$svc.Type}}" value="{{$svc.Type}}" style="width: 100%;">
                                                <option value="process"{{if eq $svc.Type "process"}} selected{{end}}>Process</option>
                                                <option value="http"{{if eq $svc.Type "http"}} selected{{end}}>HTTP</option>
                                                <option value="tcp"{{if eq $svc.Type "tcp"}} selected{{end}}>TCP Port</option>
                                            </select>
                                        </td>
                                    </tr></table>
                                </td>
                                <td>
                                    <table width="100%"><tr>
                                    {{- if locked (printf "%s_SERVICE_%d_CHECK" $.Flags.EnvPrefix $index) }}
                                        <td style="width:10px;"><i class="help-icon far fa-lock" title="An environment variable exists for this value. Your new value will write to the config file, but the application will not use it."></i></td>
                                    {{- end}}
                                        <td><input type="text" id="Service.{{$index}}.Value" data-index="{{$index}}" data-app="checks" class="client-parameter" data-group="services" data-label="Check {{instance $index}} Value" data-original="{{$svc.Value}}" value="{{$svc.Value}}" style="width: 100%;"></td>
                                    </tr></table>
                                </td>
                                <td>
                                    <table width="100%"><tr>
                                    {{- if locked (printf "%s_SERVICE_%d_EXPECT" $.Flags.EnvPrefix $index) }}
                                        <td style="width:10px;"><i class="help-icon far fa-lock" title="An environment variable exists for this value. Your new value will write to the config file, but the application will not use it."></i></td>
                                    {{- end}}
                                        <td>
                                            <input type="text" placeholder="200, 302, 404, 500, etc" title="Enter allowed HTTP return codes. Separate with commas." id="Service.{{$index}}.Expect" data-index="{{$index}}" data-app="checks" class="client-parameter serviceHTTPParam" data-group="services" data-label="Check {{instance $index}} Expect" data-original="{{$svc.Expect}}" value="{{$svc.Expect}}" style="width: 100%;{{if ne $svc.Type "http"}}display:none;{{end}}">
                                            <input disabled type="text" data-index="{{$index}}" data-app="checks" placeholder="unused" class="serviceTCPParam" style="width: 100%;{{if ne $svc.Type "tcp"}}display:none;{{end}}">
                                            <center>
                                                <input type="checkbox" onChange="checkExpectChange($(this));" id="Service.{{$index}}.Expect.Restart" title="Check this box to send alerts when a matched process restarts." data-index="{{$index}}" data-app="checks" class="serviceProcessParam serviceProcessParamRestart" style="width:3%;{{if ne $svc.Type "process"}}display:none;{{end}}"{{if contains $svc.Expect "restart"}} checked{{end}}{{if contains $svc.Expect "running"}} disabled{{end}}>
                                                <input type="checkbox" onChange="checkExpectChange($(this));" id="Service.{{$index}}.Expect.Running" title="Check this box to send alerts when a matched process is found running. Uncommon, and not usable with other options." data-index="{{$index}}" data-app="checks" class="serviceProcessParam serviceProcessParamRunning" style="width:3%;{{if ne $svc.Type "process"}}display:none;{{end}}"{{if contains $svc.Expect "running"}} checked{{end}}>
                                                <input type="number" onChange="checkExpectChange($(this));" id="Service.{{$index}}.Expect.Min" title="Minimum number of processes allowed to run." placeholder="Min" data-index="{{$index}}" data-app="checks" class="serviceProcessParam serviceProcessParamMin" value="{{min $svc.Expect}}" style="width:42%;{{if ne $svc.Type "process"}}display:none;{{end}}"{{if contains $svc.Expect "running"}} disabled{{end}}>
                                                <input type="number" onChange="checkExpectChange($(this));" id="Service.{{$index}}.Expect.Max" title="Maximum number of processes allowed to run." placeholder="Max" data-index="{{$index}}" data-app="checks" class="serviceProcessParam serviceProcessParamMax" value="{{max $svc.Expect}}" style="width:42%;{{if ne $svc.Type "process"}}display:none;{{end}}"{{if contains $svc.Expect "running"}} disabled{{end}}>
                                            </center>
                                        </td>
                                    </tr></table>
                                </td>
                                <td>
                                    <table width="100%"><tr>
                                    {{- if locked (printf "%s_SERVICE_%d_INTERVAL" $.Flags.EnvPrefix $index) }}
                                        <td style="width:10px;"><i class="help-icon far fa-lock" title="An environment variable exists for this value. Your new value will write to the config file, but the application will not use it."></i></td>
                                    {{- end}}
                                        <td><input type="text" id="Service.{{$index}}.Interval" data-index="{{$index}}" data-app="checks" class="client-parameter" data-group="services" data-label="Check {{instance $index}} Interval" data-original="{{$svc.Interval}}" value="{{$svc.Interval}}" style="width: 100%;"></td>
                                    </tr></table>
                                </td>
                                <td>
                                    <table width="100%"><tr>
                                    {{- if locked (printf "%s_SERVICE_%d_TIMEOUT" $.Flags.EnvPrefix $index) }}
                                        <td style="width:10px;"><i class="help-icon far fa-lock" title="An environment variable exists for this value. Your new value will write to the config file, but the application will not use it."></i></td>
                                    {{- end}}
                                        <td><input type="text" id="Service.{{$index}}.Timeout" data-index="{{$index}}" data-app="checks" class="client-parameter" data-group="services" data-label="Check {{instance $index}} Timeout" data-original="{{$svc.Timeout}}" value="{{$svc.Timeout}}" style="width: 100%;"></td>
                                    </tr></table>
                                </td>
                            </tr>
                        {{- end}}
                            <tr id="services-Checks-none" style="display: none;"><td colspan="7">No Checks instances configured.</td></tr>
                        </tbody>
                    </table>
                    <div class="col-lg-10 col-md-12 col-sm-12 mb">
                        <h3>Notes</h3>
                        <li><i class="help-icon far fa-question-circle" title="If you wish to monitor an application configured on another page, just give it a name. Giving any app a name enables service checks."></i> Do not add starr, media, snapshot, or downloader apps here.</li>
                        <li><i class="help-icon far fa-question-circle" title="Make sure you provide a unique name for each service check."></i> Service Checks must have non-empty unique names.</li>
                    </div>
{{- /* end of services (leave this comment) */ -}}
