                                <h1><i class="fas fa-star"></i> Starr Apps</h1>
                                <p>Notifiarr client has deep integrations with the whole suite of Starr applications. The rest of the settings for these can be found on the Notifiarr.com website.</p>
                                <div class="table-responsive"><table class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <td colspan="8" style="text-align:center;">
                                                <div style="float: left;"><img src="{{files}}/images/logo/lidarr.png" style="height:50px;"></div>
                                                <h2 style="margin-bottom:-45px">Lidarr</h2>
                                                <div style="float: right;">
                                                    <button id="starr-Lidarr-addbutton" onclick="addInstance('starr', 'Lidarr')" data-prefix="Apps" data-names='["Name","URL","APIKey","Username","Password","Interval","Timeout"]'  type="button" title="Add another instance of Lidarr" class="add-new-item-button btn btn-primary"><i class="fa fa-plus"></i></button>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Instance</td>
                                            <td style="width:12%">Application Name <i class="help-icon far fa-question-circle" title="Adding a name to any application enables service checks for the instance."></i></td>
                                            <td>Application URL <i class="help-icon far fa-question-circle" title="If your application has a Base URL, include it."></i></td>
                                            <td>Application API Key</td>
                                            <td style="width:10%">Username <i class="help-icon far fa-question-circle" title="Username is required when auth is enabled and Backup/Corruption checks are enabled."></i></td>
                                            <td style="width:10%">Password <i class="help-icon far fa-question-circle" title="Password is required when auth is enabled and Backup/Corruption checks are enabled."></i></td>
                                            <td style="width:90px">Interval <i class="help-icon far fa-question-circle" title="Service checks are enabled when a name is added. This controls how often to check."></i></td>
                                            <td style="width:90px">Timeout <i class="help-icon far fa-question-circle" title="This controls the maximum duration a request to this application may elapse."></i></td>
                                        </tr>
                                    </thead>
                                    <tbody id="starr-Lidarr-container">
                                    {{- range $index, $app := .Config.Apps.Lidarr}}
                                        <input disabled style="display: none;" class="client-parameter starr-Lidarr{{$index}}-deleted" data-group="starr" data-label="Lidarr {{instance $index}} Deleted" data-original="false" value="false">
                                        <tr class="starr-Lidarr" id="starr-Lidarr-{{$index}}">
                                            <td style="font-size: 22px;"><span id="LidarrIndexLabel{{$index}}">{{instance $index}}</span>
                                                <div class="starr-Lidarr-deletebutton" style="float: right;">
                                                    <button onclick="removeInstance('starr-Lidarr', {{$index}})" type="button" title="Delete this instance of Lidarr" class="delete-item-button btn btn-danger btn-sm"><i class="fa fa-minus"></i></button>
                                                </div>
                                            </td>
                                            <td>
                                                <table width="100%"><tr>
                                                {{- if locked (printf "%s_LIDARR_%d_NAME" $.Flags.EnvPrefix $index) }}
                                                    <td style="width:10px;"><i class="help-icon fas fa-lock" title="An environment variable exists for this value. Your new value will write to the config file, but the application will not use it."></i></td>
                                                {{- end}}
                                                    <td><input type="text" id="Apps.Lidarr.{{$index}}.Name" data-index="{{$index}}" data-app="Lidarr" class="client-parameter" data-group="starr" data-label="Lidarr {{instance $index}} Name" data-original="{{$app.Name}}" value="{{$app.Name}}" style="width: 100%;">
                                                </tr></table>
                                            </td>
                                            <td>
                                                <table width="100%"><tr>
                                                {{- if locked (printf "%s_LIDARR_%d_URL" $.Flags.EnvPrefix $index) }}
                                                    <td style="width:10px;"><i class="help-icon fas fa-lock" title="An environment variable exists for this value. Your new value will write to the config file, but the application will not use it."></i></td>
                                                {{- end}}
                                                    <td><input type="text" id="Apps.Lidarr.{{$index}}.URL" data-index="{{$index}}" data-app="Lidarr" class="client-parameter" data-group="starr" data-label="Lidarr {{instance $index}} URL" data-original="{{$app.URL}}" value="{{$app.URL}}" style="width: 100%;">
                                                </tr></table>
                                            </td>
                                            <td>
                                                <table width="100%"><tr>
                                                {{- if locked (printf "%s_LIDARR_%d_API_KEY" $.Flags.EnvPrefix $index) }}
                                                    <td style="width:10px;"><i class="help-icon fas fa-lock" title="An environment variable exists for this value. Your new value will write to the config file, but the application will not use it."></i></td>
                                                {{- end}}
                                                    <td><input type="text" id="Apps.Lidarr.{{$index}}.APIKey" data-index="{{$index}}" data-app="Lidarr" class="client-parameter" data-group="starr" data-label="Lidarr {{instance $index}} API Key" data-original="{{$app.APIKey}}" value="{{$app.APIKey}}" style="width: 100%;">
                                                </tr></table>
                                            </td>
                                            <td>
                                                <table width="100%"><tr>
                                                {{- if locked (printf "%s_LIDARR_%d_USERNAME" $.Flags.EnvPrefix $index) }}
                                                    <td style="width:10px;"><i class="help-icon fas fa-lock" title="An environment variable exists for this value. Your new value will write to the config file, but the application will not use it."></i></td>
                                                {{- end}}
                                                    <td><input type="text" id="Apps.Lidarr.{{$index}}.Username" data-index="{{$index}}" data-app="Lidarr" class="client-parameter" data-group="starr" data-label="Lidarr {{instance $index}} Username" data-original="{{$app.Username}}" value="{{$app.Username}}" style="width: 100%;">
                                                </tr></table>
                                            </td>
                                            <td>
                                                <table width="100%"><tr>
                                                {{- if locked (printf "%s_LIDARR_%d_PASSWORD" $.Flags.EnvPrefix $index) }}
                                                    <td style="width:10px;"><i class="help-icon fas fa-lock" title="An environment variable exists for this value. Your new value will write to the config file, but the application will not use it."></i></td>
                                                {{- end}}
                                                    <td><input type="text" id="Apps.Lidarr.{{$index}}.Password" data-index="{{$index}}" data-app="Lidarr" class="client-parameter" data-group="starr" data-label="Lidarr {{instance $index}} Password" data-original="{{$app.Password}}" value="{{$app.Password}}" style="width: 100%;">
                                                </tr></table>
                                            </td>
                                            <td>
                                                <table width="100%"><tr>
                                                {{- if locked (printf "%s_LIDARR_%d_INTERVAL" $.Flags.EnvPrefix $index) }}
                                                    <td style="width:10px;"><i class="help-icon fas fa-lock" title="An environment variable exists for this value. Your new value will write to the config file, but the application will not use it."></i></td>
                                                {{- end}}
                                                    <td><input type="text" id="Apps.Lidarr.{{$index}}.Interval" data-index="{{$index}}" data-app="Lidarr" class="client-parameter" data-group="starr" data-label="Lidarr {{instance $index}} Interval" data-original="{{$app.Interval}}" value="{{$app.Interval}}" style="width: 100%;">
                                                </tr></table>
                                            </td>
                                            <td>
                                                <table width="100%"><tr>
                                                {{- if locked (printf "%s_LIDARR_%d_TIMEOUT" $.Flags.EnvPrefix $index) }}
                                                    <td style="width:10px;"><i class="help-icon fas fa-lock" title="An environment variable exists for this value. Your new value will write to the config file, but the application will not use it."></i></td>
                                                {{- end}}
                                                    <td><input type="text" id="Apps.Lidarr.{{$index}}.Timeout" data-index="{{$index}}" data-app="Lidarr" class="client-parameter" data-group="starr" data-label="Lidarr {{instance $index}} Timeout" data-original="{{$app.Timeout}}" value="{{$app.Timeout}}" style="width: 100%;">
                                                </tr></table>
                                            </td>
                                        </tr>
                                    {{- end}}
                                        <tr id="starr-Lidarr-none" style="display: none;"><td colspan="8">No Lidarr instances configured.</td></tr>
                                    </tbody>
                                      <thead>
                                          <tr><td colspan="8" style="text-align:center;">
                                              <div style="float: left;"><img src="{{files}}/images/logo/prowlarr.png" style="height:50px;"></div>
                                              <h2 style="margin-bottom:-45px">Prowlarr</h2>
                                              <div style="float: right;">
                                                  <button id="starr-Prowlarr-addbutton" onclick="addInstance('starr', 'Prowlarr')" data-prefix="Apps" data-names='["Name","URL","APIKey","Username","Password","Interval","Timeout"]'  type="button" title="Add another instance of Prowlarr" class="add-new-item-button btn btn-primary"><i class="fa fa-plus"></i></button>
                                              </div>
                                          </td></tr>
                                          <tr>
                                            <td>Instance</td>
                                            <td>Application Name <i class="help-icon far fa-question-circle" title="Adding a name to any application enables service checks for the instance."></i></td>
                                            <td>Application URL <i class="help-icon far fa-question-circle" title="If your application has a Base URL, include it."></i></td>
                                            <td>Application API Key</td>
                                            <td>Username <i class="help-icon far fa-question-circle" title="Username is required when auth is enabled and Backup/Corruption checks are enabled."></i></td>
                                            <td>Password <i class="help-icon far fa-question-circle" title="Password is required when auth is enabled and Backup/Corruption checks are enabled."></i></td>
                                            <td>Interval <i class="help-icon far fa-question-circle" title="Service checks are enabled when a name is added. This controls how often to check."></i></td>
                                            <td style="width:90px">Timeout <i class="help-icon far fa-question-circle" title="This controls the maximum duration a request to this application may elapse."></i></td>
                                          </tr>
                                      </thead>
                                      <tbody id="starr-Prowlarr-container">
                                      {{- range $index, $app := .Config.Apps.Prowlarr}}
                                          <input disabled style="display: none;" class="client-parameter starr-Prowlarr{{$index}}-deleted" data-group="starr" data-label="Prowlarr {{instance $index}} Deleted" data-original="false" value="false">
                                          <tr class="starr-Prowlarr" id="starr-Prowlarr-{{$index}}">
                                              <td style="font-size: 22px;"><span id="ProwlarrIndexLabel{{$index}}">{{instance $index}}</span>
                                                  <div class="starr-Prowlarr-deletebutton" style="float: right;">
                                                      <button onclick="removeInstance('starr-Prowlarr', {{$index}})" type="button" title="Delete this instance of Prowlarr" class="delete-item-button btn btn-danger btn-sm"><i class="fa fa-minus"></i></button>
                                                  </div>
                                              </td>
                                              <td>
                                                  <table width="100%"><tr>
                                                  {{- if locked (printf "%s_PROWLARR_%d_NAME" $.Flags.EnvPrefix $index) }}
                                                      <td style="width:10px;"><i class="help-icon fas fa-lock" title="An environment variable exists for this value. Your new value will write to the config file, but the application will not use it."></i></td>
                                                  {{- end}}
                                                      <td><input type="text" id="Apps.Prowlarr.{{$index}}.Name" data-index="{{$index}}" data-app="Prowlarr" class="client-parameter" data-group="starr" data-label="Prowlarr {{instance $index}} Name" data-original="{{$app.Name}}" value="{{$app.Name}}" style="width: 100%;">
                                                  </tr></table>
                                              </td>
                                              <td>
                                                  <table width="100%"><tr>
                                                  {{- if locked (printf "%s_PROWLARR_%d_URL" $.Flags.EnvPrefix $index) }}
                                                      <td style="width:10px;"><i class="help-icon fas fa-lock" title="An environment variable exists for this value. Your new value will write to the config file, but the application will not use it."></i></td>
                                                  {{- end}}
                                                      <td><input type="text" id="Apps.Prowlarr.{{$index}}.URL" data-index="{{$index}}" data-app="Prowlarr" class="client-parameter" data-group="starr" data-label="Prowlarr {{instance $index}} URL" data-original="{{$app.URL}}" value="{{$app.URL}}" style="width: 100%;">
                                                  </tr></table>
                                              </td>
                                              <td>
                                                  <table width="100%"><tr>
                                                  {{- if locked (printf "%s_PROWLARR_%d_API_KEY" $.Flags.EnvPrefix $index) }}
                                                      <td style="width:10px;"><i class="help-icon fas fa-lock" title="An environment variable exists for this value. Your new value will write to the config file, but the application will not use it."></i></td>
                                                  {{- end}}
                                                      <td><input type="text" id="Apps.Prowlarr.{{$index}}.APIKey" data-index="{{$index}}" data-app="Prowlarr" class="client-parameter" data-group="starr" data-label="Prowlarr {{instance $index}} API Key" data-original="{{$app.APIKey}}" value="{{$app.APIKey}}" style="width: 100%;">
                                                  </tr></table>
                                              </td>
                                              <td>
                                                  <table width="100%"><tr>
                                                  {{- if locked (printf "%s_PROWLARR_%d_USERNAME" $.Flags.EnvPrefix $index) }}
                                                      <td style="width:10px;"><i class="help-icon fas fa-lock" title="An environment variable exists for this value. Your new value will write to the config file, but the application will not use it."></i></td>
                                                  {{- end}}
                                                      <td><input type="text" id="Apps.Prowlarr.{{$index}}.Username" data-index="{{$index}}" data-app="Prowlarr" class="client-parameter" data-group="starr" data-label="Prowlarr {{instance $index}} Username" data-original="{{$app.Username}}" value="{{$app.Username}}" style="width: 100%;">
                                                  </tr></table>
                                              </td>
                                              <td>
                                                  <table width="100%"><tr>
                                                  {{- if locked (printf "%s_PROWLARR_%d_PASSWORD" $.Flags.EnvPrefix $index) }}
                                                      <td style="width:10px;"><i class="help-icon fas fa-lock" title="An environment variable exists for this value. Your new value will write to the config file, but the application will not use it."></i></td>
                                                  {{- end}}
                                                      <td> <input type="text" id="Apps.Prowlarr.{{$index}}.Password" data-index="{{$index}}" data-app="Prowlarr" class="client-parameter" data-group="starr" data-label="Prowlarr {{instance $index}} Password" data-original="{{$app.Password}}" value="{{$app.Password}}" style="width: 100%;">
                                                  </tr></table>
                                              </td>
                                              <td>
                                                  <table width="100%"><tr>
                                                  {{- if locked (printf "%s_PROWLARR_%d_INTERVAL" $.Flags.EnvPrefix $index) }}
                                                      <td style="width:10px;"><i class="help-icon fas fa-lock" title="An environment variable exists for this value. Your new value will write to the config file, but the application will not use it."></i></td>
                                                  {{- end}}
                                                      <td><input type="text" id="Apps.Prowlarr.{{$index}}.Interval" data-index="{{$index}}" data-app="Prowlarr" class="client-parameter" data-group="starr" data-label="Prowlarr {{instance $index}} Interval" data-original="{{$app.Interval}}" value="{{$app.Interval}}" style="width: 100%;">
                                                  </tr></table>
                                              </td>
                                              <td>
                                                  <table width="100%"><tr>
                                                  {{- if locked (printf "%s_PROWLARR_%d_TIMEOUT" $.Flags.EnvPrefix $index) }}
                                                      <td style="width:10px;"><i class="help-icon fas fa-lock" title="An environment variable exists for this value. Your new value will write to the config file, but the application will not use it."></i></td>
                                                  {{- end}}
                                                      <td> <input type="text" id="Apps.Prowlarr.{{$index}}.Timeout" data-index="{{$index}}" data-app="Prowlarr" class="client-parameter" data-group="starr" data-label="Prowlarr {{instance $index}} Timeout" data-original="{{$app.Timeout}}" value="{{$app.Timeout}}" style="width: 100%;">
                                                  </tr></table>
                                              </td>
                                          </tr>
                                      {{- end}}
                                          <tr id="starr-Prowlarr-none" style="display: none;"><td colspan="8">No Prowlarr instances configured.</td></tr>
                                      </tbody>
                                      <thead>
                                          <tr><td colspan="8" style="text-align:center;">
                                              <div style="float: left;"><img src="{{files}}/images/logo/radarr.png" style="height:50px;"></div>
                                              <h2 style="margin-bottom:-45px">Radarr</h2>
                                              <div style="float: right;">
                                                  <button id="starr-Radarr-addbutton" onclick="addInstance('starr', 'Radarr')" data-prefix="Apps" data-names='["Name","URL","APIKey","Username","Password","Interval","Timeout"]'  type="button" title="Add another instance of Radarr" class="add-new-item-button btn btn-primary"><i class="fa fa-plus"></i></button>
                                              </div>
                                          </td></tr>
                                          <tr>
                                            <td>Instance</td>
                                            <td>Application Name <i class="help-icon far fa-question-circle" title="Adding a name to any application enables service checks for the instance."></i></td>
                                            <td>Application URL <i class="help-icon far fa-question-circle" title="If your application has a Base URL, include it."></i></td>
                                            <td>Application API Key</td>
                                            <td>Username <i class="help-icon far fa-question-circle" title="Username is required when auth is enabled and Backup/Corruption checks are enabled."></i></td>
                                            <td>Password <i class="help-icon far fa-question-circle" title="Password is required when auth is enabled and Backup/Corruption checks are enabled."></i></td>
                                            <td>Interval <i class="help-icon far fa-question-circle" title="Service checks are enabled when a name is added. This controls how often to check."></i></td>
                                            <td style="width:90px">Timeout <i class="help-icon far fa-question-circle" title="This controls the maximum duration a request to this application may elapse."></i></td>
                                          </tr>
                                      </thead>
                                      <tbody id="starr-Radarr-container">
                                      {{- range $index, $app := .Config.Apps.Radarr}}
                                          <input disabled style="display: none;" class="client-parameter starr-Radarr{{$index}}-deleted" data-group="starr" data-label="Radarr {{instance $index}} Deleted" data-original="false" value="false">
                                          <tr class="starr-Radarr" id="starr-Radarr-{{$index}}">
                                              <td style="font-size: 22px;"><span id="RadarrIndexLabel{{$index}}">{{instance $index}}</span>
                                                  <div class="starr-Radarr-deletebutton" style="float: right;">
                                                      <button onclick="removeInstance('starr-Radarr', {{$index}})" type="button" title="Delete this instance of Radarr" class="delete-item-button btn btn-danger btn-sm"><i class="fa fa-minus"></i></button>
                                                  </div>
                                              </td>
                                              <td>
                                                  <table width="100%"><tr>
                                                  {{- if locked (printf "%s_RADARR_%d_NAME" $.Flags.EnvPrefix $index) }}
                                                      <td style="width:10px;"><i class="help-icon fas fa-lock" title="An environment variable exists for this value. Your new value will write to the config file, but the application will not use it."></i></td>
                                                  {{- end}}
                                                      <td><input type="text" id="Apps.Radarr.{{$index}}.Name" data-index="{{$index}}" data-app="Radarr" class="client-parameter" data-group="starr" data-label="Radarr {{instance $index}} Name" data-original="{{$app.Name}}" value="{{$app.Name}}" style="width: 100%;">
                                                  </tr></table>
                                              </td>
                                              <td>
                                                  <table width="100%"><tr>
                                                  {{- if locked (printf "%s_RADARR_%d_URL" $.Flags.EnvPrefix $index) }}
                                                      <td style="width:10px;"><i class="help-icon fas fa-lock" title="An environment variable exists for this value. Your new value will write to the config file, but the application will not use it."></i></td>
                                                  {{- end}}
                                                      <td><input type="text" id="Apps.Radarr.{{$index}}.URL" data-index="{{$index}}" data-app="Radarr" class="client-parameter" data-group="starr" data-label="Radarr {{instance $index}} URL" data-original="{{$app.URL}}" value="{{$app.URL}}" style="width: 100%;">
                                                  </tr></table>
                                              </td>
                                              <td>
                                                  <table width="100%"><tr>
                                                  {{- if locked (printf "%s_RADARR_%d_API_KEY" $.Flags.EnvPrefix $index) }}
                                                      <td style="width:10px;"><i class="help-icon fas fa-lock" title="An environment variable exists for this value. Your new value will write to the config file, but the application will not use it."></i></td>
                                                  {{- end}}
                                                      <td><input type="text" id="Apps.Radarr.{{$index}}.APIKey" data-index="{{$index}}" data-app="Radarr" class="client-parameter" data-group="starr" data-label="Radarr {{instance $index}} API Key" data-original="{{$app.APIKey}}" value="{{$app.APIKey}}" style="width: 100%;">
                                                  </tr></table>
                                              </td>
                                              <td>
                                                  <table width="100%"><tr>
                                                  {{- if locked (printf "%s_RADARR_%d_USERNAME" $.Flags.EnvPrefix $index) }}
                                                      <td style="width:10px;"><i class="help-icon fas fa-lock" title="An environment variable exists for this value. Your new value will write to the config file, but the application will not use it."></i></td>
                                                  {{- end}}
                                                      <td><input type="text" id="Apps.Radarr.{{$index}}.Username" data-index="{{$index}}" data-app="Radarr" class="client-parameter" data-group="starr" data-label="Radarr {{instance $index}} Username" data-original="{{$app.Username}}" value="{{$app.Username}}" style="width: 100%;">
                                                  </tr></table>
                                              </td>
                                              <td>
                                                  <table width="100%"><tr>
                                                  {{- if locked (printf "%s_RADARR_%d_PASSWORD" $.Flags.EnvPrefix $index) }}
                                                      <td style="width:10px;"><i class="help-icon fas fa-lock" title="An environment variable exists for this value. Your new value will write to the config file, but the application will not use it."></i></td>
                                                  {{- end}}
                                                      <td><input type="text" id="Apps.Radarr.{{$index}}.Password" data-index="{{$index}}" data-app="Radarr" class="client-parameter" data-group="starr" data-label="Radarr {{instance $index}} Password" data-original="{{$app.Password}}" value="{{$app.Password}}" style="width: 100%;">
                                                  </tr></table>
                                              </td>
                                              <td>
                                                  <table width="100%"><tr>
                                                  {{- if locked (printf "%s_RADARR_%d_INTERVAL" $.Flags.EnvPrefix $index) }}
                                                      <td style="width:10px;"><i class="help-icon fas fa-lock" title="An environment variable exists for this value. Your new value will write to the config file, but the application will not use it."></i></td>
                                                  {{- end}}
                                                      <td><input type="text" id="Apps.Radarr.{{$index}}.Interval" data-index="{{$index}}" data-app="Radarr" class="client-parameter" data-group="starr" data-label="Radarr {{instance $index}} Interval" data-original="{{$app.Interval}}" value="{{$app.Interval}}" style="width: 100%;">
                                                  </tr></table>
                                              </td>
                                              <td>
                                                  <table width="100%"><tr>
                                                  {{- if locked (printf "%s_RADARR_%d_TIMEOUT" $.Flags.EnvPrefix $index) }}
                                                      <td style="width:10px;"><i class="help-icon fas fa-lock" title="An environment variable exists for this value. Your new value will write to the config file, but the application will not use it."></i></td>
                                                  {{- end}}
                                                      <td><input type="text" id="Apps.Radarr.{{$index}}.Timeout" data-index="{{$index}}" data-app="Radarr" class="client-parameter" data-group="starr" data-label="Radarr {{instance $index}} Timeout" data-original="{{$app.Timeout}}" value="{{$app.Timeout}}" style="width: 100%;">
                                                  </tr></table>
                                              </td>
                                          </tr>
                                      {{- end}}
                                          <tr id="starr-Radarr-none" style="display: none;"><td colspan="8">No Radarr instances configured.</td></tr>
                                      </tbody>
                                      <thead>
                                          <tr><td colspan="8" style="text-align:center;"><div style="float: left;">
                                              <img src="{{files}}/images/logo/readarr.png" style="height:50px;"></div>
                                              <h2 style="margin-bottom:-45px">Readarr</h2>
                                              <div style="float: right;">
                                                  <button id="starr-Readarr-addbutton" onclick="addInstance('starr', 'Readarr')" data-prefix="Apps" data-names='["Name","URL","APIKey","Username","Password","Interval","Timeout"]'  type="button" title="Add another instance of Readarr" class="add-new-item-button btn btn-primary"><i class="fa fa-plus"></i></button>
                                              </div>
                                          </td></tr>
                                          <tr>
                                            <td>Instance</td>
                                            <td>Application Name <i class="help-icon far fa-question-circle" title="Adding a name to any application enables service checks for the instance."></i></td>
                                            <td>Application URL <i class="help-icon far fa-question-circle" title="If your application has a Base URL, include it."></i></td>
                                            <td>Application API Key</td>
                                            <td>Username <i class="help-icon far fa-question-circle" title="Username is required when auth is enabled and Backup/Corruption checks are enabled."></i></td>
                                            <td>Password <i class="help-icon far fa-question-circle" title="Password is required when auth is enabled and Backup/Corruption checks are enabled."></i></td>
                                            <td>Interval <i class="help-icon far fa-question-circle" title="Service checks are enabled when a name is added. This controls how often to check."></i></td>
                                            <td style="width:90px">Timeout <i class="help-icon far fa-question-circle" title="This controls the maximum duration a request to this application may elapse."></i></td>
                                          </tr>
                                      </thead>
                                      <tbody id="starr-Readarr-container">
                                      {{- range $index, $app := .Config.Apps.Readarr}}
                                          <input disabled style="display: none;" class="client-parameter starr-Readarr{{$index}}-deleted" data-group="starr" data-label="Readarr {{instance $index}} Deleted" data-original="false" value="false">
                                          <tr class="starr-Readarr" id="starr-Readarr-{{$index}}">
                                              <td style="font-size: 22px;"><span id="ReadarrIndexLabel{{$index}}">{{instance $index}}</span>
                                                  <div class="starr-Readarr-deletebutton" style="float: right;">
                                                      <button onclick="removeInstance('starr-Readarr', {{$index}})" type="button" title="Delete this instance of Readarr" class="delete-item-button btn btn-danger btn-sm"><i class="fa fa-minus"></i></button>
                                                  </div>
                                              </td>
                                              <td>
                                                  <table width="100%"><tr>
                                                  {{- if locked (printf "%s_READARR_%d_NAME" $.Flags.EnvPrefix $index) }}
                                                      <td style="width:10px;"><i class="help-icon fas fa-lock" title="An environment variable exists for this value. Your new value will write to the config file, but the application will not use it."></i></td>
                                                  {{- end}}
                                                      <td><input type="text" id="Apps.Readarr.{{$index}}.Name" data-index="{{$index}}" data-app="Readarr" class="client-parameter" data-group="starr" data-label="Readarr {{instance $index}} Name" data-original="{{$app.Name}}" value="{{$app.Name}}" style="width: 100%;">
                                                  </tr></table>
                                              </td>
                                              <td>
                                                  <table width="100%"><tr>
                                                  {{- if locked (printf "%s_READARR_%d_URL" $.Flags.EnvPrefix $index) }}
                                                      <td style="width:10px;"><i class="help-icon fas fa-lock" title="An environment variable exists for this value. Your new value will write to the config file, but the application will not use it."></i></td>
                                                  {{- end}}
                                                      <td><input type="text" id="Apps.Readarr.{{$index}}.URL" data-index="{{$index}}" data-app="Readarr" class="client-parameter" data-group="starr" data-label="Readarr {{instance $index}} URL" data-original="{{$app.URL}}" value="{{$app.URL}}" style="width: 100%;">
                                                  </tr></table>
                                              </td>
                                              <td>
                                                  <table width="100%"><tr>
                                                  {{- if locked (printf "%s_READARR_%d_API_KEY" $.Flags.EnvPrefix $index) }}
                                                      <td style="width:10px;"><i class="help-icon fas fa-lock" title="An environment variable exists for this value. Your new value will write to the config file, but the application will not use it."></i></td>
                                                  {{- end}}
                                                      <td><input type="text" id="Apps.Readarr.{{$index}}.APIKey" data-index="{{$index}}" data-app="Readarr" class="client-parameter" data-group="starr" data-label="Readarr {{instance $index}} API Key" data-original="{{$app.APIKey}}" value="{{$app.APIKey}}" style="width: 100%;">
                                                  </tr></table>
                                              </td>
                                              <td>
                                                  <table width="100%"><tr>
                                                  {{- if locked (printf "%s_READARR_%d_USERNAME" $.Flags.EnvPrefix $index) }}
                                                      <td style="width:10px;"><i class="help-icon fas fa-lock" title="An environment variable exists for this value. Your new value will write to the config file, but the application will not use it."></i></td>
                                                  {{- end}}
                                                      <td> <input type="text" id="Apps.Readarr.{{$index}}.Username" data-index="{{$index}}" data-app="Readarr" class="client-parameter" data-group="starr" data-label="Readarr {{instance $index}} Username" data-original="{{$app.Username}}" value="{{$app.Username}}" style="width: 100%;">
                                                  </tr></table>
                                              </td>
                                              <td>
                                                  <table width="100%"><tr>
                                                  {{- if locked (printf "%s_READARR_%d_PASSWORD" $.Flags.EnvPrefix $index) }}
                                                      <td style="width:10px;"><i class="help-icon fas fa-lock" title="An environment variable exists for this value. Your new value will write to the config file, but the application will not use it."></i></td>
                                                  {{- end}}
                                                      <td><input type="text" id="Apps.Readarr.{{$index}}.Password" data-index="{{$index}}" data-app="Readarr" class="client-parameter" data-group="starr" data-label="Readarr {{instance $index}} Password" data-original="{{$app.Password}}" value="{{$app.Password}}" style="width: 100%;">
                                                  </tr></table>
                                              </td>
                                              <td>
                                                  <table width="100%"><tr>
                                                  {{- if locked (printf "%s_READARR_%d_INTERVAL" $.Flags.EnvPrefix $index) }}
                                                      <td style="width:10px;"><i class="help-icon fas fa-lock" title="An environment variable exists for this value. Your new value will write to the config file, but the application will not use it."></i></td>
                                                  {{- end}}
                                                      <td><input type="text" id="Apps.Readarr.{{$index}}.Interval" data-index="{{$index}}" data-app="Readarr" class="client-parameter" data-group="starr" data-label="Readarr {{instance $index}} Interval" data-original="{{$app.Interval}}" value="{{$app.Interval}}" style="width: 100%;">
                                                  </tr></table>
                                              </td>
                                              <td>
                                                  <table width="100%"><tr>
                                                  {{- if locked (printf "%s_READARR_%d_TIMEOUT" $.Flags.EnvPrefix $index) }}
                                                      <td style="width:10px;"><i class="help-icon fas fa-lock" title="An environment variable exists for this value. Your new value will write to the config file, but the application will not use it."></i></td>
                                                  {{- end}}
                                                      <td><input type="text" id="Apps.Readarr.{{$index}}.Timeout" data-index="{{$index}}" data-app="Readarr" class="client-parameter" data-group="starr" data-label="Readarr {{instance $index}} Timeout" data-original="{{$app.Timeout}}" value="{{$app.Timeout}}" style="width: 100%;">
                                                  </tr></table>
                                              </td>
                                          </tr>
                                      {{- end}}
                                          <tr id="starr-Readarr-none" style="display: none;"><td colspan="8">No Readarr instances configured.</td></tr>
                                      </tbody>
                                      <thead>
                                          <tr><td colspan="8" style="text-align:center;">
                                              <div style="float: left;"><img src="{{files}}/images/logo/sonarr.png" style="height:50px;"></div>
                                              <h2 style="margin-bottom:-45px">Sonarr</h2>
                                              <div style="float: right;">
                                                  <button id="starr-Sonarr-addbutton" onclick="addInstance('starr', 'Sonarr')" data-prefix="Apps" data-names='["Name","URL","APIKey","Username","Password","Interval","Timeout"]'  type="button" title="Add another instance of Sonarr" class="add-new-item-button btn btn-primary"><i class="fa fa-plus"></i></button>
                                              </div>
                                          </td></tr>
                                          <tr>
                                            <td>Instance</td>
                                            <td>Application Name <i class="help-icon far fa-question-circle" title="Adding a name to any application enables service checks for the instance."></i></td>
                                            <td>Application URL <i class="help-icon far fa-question-circle" title="If your application has a Base URL, include it."></i></td>
                                            <td>Application API Key</td>
                                            <td>Username <i class="help-icon far fa-question-circle" title="Username is required when auth is enabled and Backup/Corruption checks are enabled."></i></td>
                                            <td>Password <i class="help-icon far fa-question-circle" title="Password is required when auth is enabled and Backup/Corruption checks are enabled."></i></td>
                                            <td>Interval <i class="help-icon far fa-question-circle" title="Service checks are enabled when a name is added. This controls how often to check."></i></td>
                                            <td style="width:90px">Timeout <i class="help-icon far fa-question-circle" title="This controls the maximum duration a request to this application may elapse."></i></td>
                                          </tr>
                                      </thead>
                                      <tbody id="starr-Sonarr-container">
                                      {{- range $index, $app := .Config.Apps.Sonarr}}
                                          <input disabled style="display: none;" class="client-parameter starr-Sonarr{{$index}}-deleted" data-group="starr" data-label="Sonarr {{instance $index}} Deleted" data-original="false" value="false">
                                          <tr class="starr-Sonarr" id="starr-Sonarr-{{$index}}">
                                              <td style="font-size: 22px;"><span id="SonarrIndexLabel{{$index}}">{{instance $index}}</span>
                                                  <div class="starr-Sonarr-deletebutton" style="float: right;">
                                                      <button onclick="removeInstance('starr-Sonarr', {{$index}})" type="button" title="Delete this instance of Sonarr" class="delete-item-button btn btn-danger btn-sm"><i class="fa fa-minus"></i></button>
                                                  </div>
                                              </td>
                                              <td>
                                                  <table width="100%"><tr>
                                                  {{- if locked (printf "%s_SONARR_%d_NAME" $.Flags.EnvPrefix $index) }}
                                                      <td style="width:10px;"><i class="help-icon fas fa-lock" title="An environment variable exists for this value. Your new value will write to the config file, but the application will not use it."></i></td>
                                                  {{- end}}
                                                      <td><input type="text" id="Apps.Sonarr.{{$index}}.Name" data-index="{{$index}}" data-app="Sonarr" class="client-parameter" data-group="starr" data-label="Sonarr {{instance $index}} Name" data-original="{{$app.Name}}" value="{{$app.Name}}" style="width: 100%;">
                                                  </tr></table>
                                              </td>
                                              <td>
                                                  <table width="100%"><tr>
                                                  {{- if locked (printf "%s_SONARR_%d_URL" $.Flags.EnvPrefix $index) }}
                                                      <td style="width:10px;"><i class="help-icon fas fa-lock" title="An environment variable exists for this value. Your new value will write to the config file, but the application will not use it."></i></td>
                                                  {{- end}}
                                                      <td> <input type="text" id="Apps.Sonarr.{{$index}}.URL" data-index="{{$index}}" data-app="Sonarr" class="client-parameter" data-group="starr" data-label="Sonarr {{instance $index}} URL" data-original="{{$app.URL}}" value="{{$app.URL}}" style="width: 100%;">
                                                  </tr></table>
                                              </td>
                                              <td>
                                                  <table width="100%"><tr>
                                                  {{- if locked (printf "%s_SONARR_%d_API_KEY" $.Flags.EnvPrefix $index) }}
                                                      <td style="width:10px;"><i class="help-icon fas fa-lock" title="An environment variable exists for this value. Your new value will write to the config file, but the application will not use it."></i></td>
                                                  {{- end}}
                                                      <td><input type="text" id="Apps.Sonarr.{{$index}}.APIKey" data-index="{{$index}}" data-app="Sonarr" class="client-parameter" data-group="starr" data-label="Sonarr {{instance $index}} API Key" data-original="{{$app.APIKey}}" value="{{$app.APIKey}}" style="width: 100%;">
                                                  </tr></table>
                                              </td>
                                              <td>
                                                  <table width="100%"><tr>
                                                  {{- if locked (printf "%s_SONARR_%d_USERNAME" $.Flags.EnvPrefix $index) }}
                                                      <td style="width:10px;"><i class="help-icon fas fa-lock" title="An environment variable exists for this value. Your new value will write to the config file, but the application will not use it."></i></td>
                                                  {{- end}}
                                                      <td><input type="text" id="Apps.Sonarr.{{$index}}.Username" data-index="{{$index}}" data-app="Sonarr" class="client-parameter" data-group="starr" data-label="Sonarr {{instance $index}} Username" data-original="{{$app.Username}}" value="{{$app.Username}}" style="width: 100%;">
                                                  </tr></table>
                                              </td>
                                              <td>
                                                  <table width="100%"><tr>
                                                  {{- if locked (printf "%s_SONARR_%d_PASSWORD" $.Flags.EnvPrefix $index) }}
                                                      <td style="width:10px;"><i class="help-icon fas fa-lock" title="An environment variable exists for this value. Your new value will write to the config file, but the application will not use it."></i></td>
                                                  {{- end}}
                                                      <td><input type="text" id="Apps.Sonarr.{{$index}}.Password" data-index="{{$index}}" data-app="Sonarr" class="client-parameter" data-group="starr" data-label="Sonarr {{instance $index}} Password" data-original="{{$app.Password}}" value="{{$app.Password}}" style="width: 100%;">
                                                  </tr></table>
                                              </td>
                                              <td>
                                                  <table width="100%"><tr>
                                                  {{- if locked (printf "%s_SONARR_%d_INTERVAL" $.Flags.EnvPrefix $index) }}
                                                      <td style="width:10px;"><i class="help-icon fas fa-lock" title="An environment variable exists for this value. Your new value will write to the config file, but the application will not use it."></i></td>
                                                  {{- end}}
                                                      <td><input type="text" id="Apps.Sonarr.{{$index}}.Interval" data-index="{{$index}}" data-app="Sonarr" class="client-parameter" data-group="starr" data-label="Sonarr {{instance $index}} Interval" data-original="{{$app.Interval}}" value="{{$app.Interval}}" style="width: 100%;">
                                                  </tr></table>
                                              </td>
                                              <td>
                                                  <table width="100%"><tr>
                                                  {{- if locked (printf "%s_SONARR_%d_TIMEOUT" $.Flags.EnvPrefix $index) }}
                                                      <td style="width:10px;"><i class="help-icon fas fa-lock" title="An environment variable exists for this value. Your new value will write to the config file, but the application will not use it."></i></td>
                                                  {{- end}}
                                                      <td><input type="text" id="Apps.Sonarr.{{$index}}.Timeout" data-index="{{$index}}" data-app="Sonarr" class="client-parameter" data-group="starr" data-label="Sonarr {{instance $index}} Timeout" data-original="{{$app.Timeout}}" value="{{$app.Timeout}}" style="width: 100%;">
                                                  </tr></table>
                                              </td>
                                          </tr>
                                      {{- end}}
                                          <tr id="starr-Sonarr-none" style="display: none;"><td colspan="8">No Sonarr instances configured.</td></tr>
                                      </tbody>
                                </table></div><!-- table-responsive -->
{{- /* end of starr (leave this comment) */ -}}
