{{template "includes/system-header.html" .}}
<a href="#system-snapshot" onclick="swapNavigationTemplate('system-snapshot');">Snapshot Data <i class="fas fa-arrow-right" ></i></a> |
&nbsp;<a href="#system" class="fas fa-sync" onClick="refreshPage('system');"> Refresh</a> |
<div class="table-responsive">
    <table style="width:99%;" class="table table-bordered configtable">
        <thead style="display:none;">
            <tr><td></td><td></td><td></td></tr>
        </thead><!-- ^^^ three columns to work with our dataTable function -->
        <tbody>
            <tr class="text-center">
                <td style="display:none;"></td>
                <td style="display:none;"></td>
                <td colspan="2">
                    <a onClick="swapNavigationTemplate('clientinfo')" href="#clientinfo">
                        {{- if .ClientInfo.IsSub}}
                        <font color="green"><i class="fas fa-{{if .ClientInfo.User.DevAllowed}}user-secret{{else}}user-tie{{end}}" style="float:left;font-size:40px"></i></font>
                        {{- else if .ClientInfo.IsPatron}}
                        <font color="purple"><i class="fas fa-{{if .ClientInfo.User.DevAllowed}}user-secret{{else}}user-ninja{{end}}" style="float:left;font-size:40px"></i></font>
                        {{- else}}
                        <i class="fas fa-user-alt" style="float:left;font-size:40px"></i>
                        {{- end}}
                    </a>
                    <h4>User</h4>
                </td>
            </tr>
            <tr>
                <td>Patron</td>
                <td>{{.ClientInfo.IsPatron}}</td>
                <td style="display:none;"></td>
            </tr>
            <tr>
                <td>Subscriber</td>
                <td>{{.ClientInfo.IsSub}}</td>
                <td style="display:none;"></td>
            </tr>
            {{- if .ClientInfo.IsSub}}
            <tr>
                <td>Absolute Bad Ass</td>
                <td>Yes, yes you are! 💚</td>
                <td style="display:none;"></td>
            </tr>
            {{- else if .ClientInfo.IsPatron}}
            <tr>
                <td>Hella Awesome</td>
                <td>You're so gifted, and we love you! 💜</td>
                <td style="display:none;"></td>
            </tr>
            {{- end}}
            <tr>
                <td>Date Format</td>
                <td>{{if .ClientInfo}}{{.ClientInfo.User.DateFormat.String}} from {{.ClientInfo.User.DateFormat.PHP}}{{end}}</td>
                <td style="display:none;"></td>
            </tr>
                <tr class="text-center">
                    <td style="display:none;"></td>
                    <td style="display:none;"></td>
                    <td colspan="2">
                        <img src="{{files}}/images/favicon.png" style="float:left;margin-top:-5px;height:50px;">
                        <h4>Client</h4>
                    </td>
                </tr>
                <tr>
                    <td>Application</td>
                    <td>{{.Version.program}}</td>
                    <td style="display:none;"></td>
                </tr>
                <tr>
                    <td>Version</td>
                    <td>{{.Version.version}}-{{.Version.revision}}</td>
                    <td style="display:none;"></td>
                </tr>
                <tr>
                    <td>Started</td>
                    <td>{{dateFmt .Version.started}} &nbsp; ({{.Version.started}})</td>
                    <td style="display:none;"></td>
                </tr>
                <tr>
                    <td>Uptime</td>
                    <td>
                        {{since .Version.started}} &nbsp;
                        <a title="Refresh Page" href="#system" class="fas fa-sync" onClick="refreshPage('system');"></a>
                    </td>
                    <td style="display:none;"></td>
                </tr>
                <tr class="text-center">
                    <td style="display:none;"></td>
                    <td style="display:none;"></td>
                    <td colspan="2">
                        <img src="{{files}}/images/golift.png" style="float:left;margin-top:-5px; height:50px;">
                        <h4>Build</h4>
                    </td>
                </tr>
                <tr>
                    <td>Branch</td>
                    <td>{{.Version.branch}}</td>
                    <td style="display:none;"></td>
                </tr>
                <tr>
                    <td>Build User</td>
                    <td>{{.Version.buildUser}}</td>
                    <td style="display:none;"></td>
                </tr>
                <tr>
                    <td>Build Date</td>
                    <td>{{.Version.buildDate}}</td>
                    <td style="display:none;"></td>
                </tr>
                <tr>
                    <td>Go Version</td>
                    <td>{{.Version.goVersion}}</td>
                    <td style="display:none;"></td>
                </tr>
                <tr>
                    <td>Integrity</td>
                    <td>{{if .ClientInfo.IntegrityCheck}}Passed{{else}}Failed{{end}} ({{.Version.md5}})</td>
                    <td style="display:none;"></td>
                </tr>
                <tr class="text-center">
                    <td style="display:none;"></td>
                    <td style="display:none;"></td>
                    <td colspan="2">
                        <i class="fas fa-server" style="float:left;font-size:40px"></i>
                        <h4>Operating System</h4>
                    </td>
                </tr>
                <tr>
                    <td>Hostname</td>
                    <td>{{.HostInfo.Hostname}}</td>
                    <td style="display:none;"></td>
                </tr>
                <tr>
                    <td>Unique ID</td>
                    <td>{{.HostInfo.HostID}}</td>
                    <td style="display:none;"></td>
                </tr>
                <tr>
                    <td>Platform</td>
                    <td>{{.HostInfo.Platform}} {{.HostInfo.PlatformVersion}} ({{.HostInfo.KernelArch}})</td>
                    <td style="display:none;"></td>
                </tr>
                {{- if .HostInfo.KernelVersion}}
                <tr>
                    <td>Kernel Version</td>
                    <td>{{.HostInfo.KernelVersion}}</td>
                    <td style="display:none;"></td>
                </tr>
                {{- end }}
                {{- if .HostInfo.VirtualizationSystem}}
                <tr>
                    <td>Virtualization System</td>
                    <td>{{.HostInfo.VirtualizationSystem}}</td>
                    <td style="display:none;"></td>
                </tr>
                {{- end }}
                <tr>
                    <td>Operating System</td>
                    <td>{{.Version.os}} ({{.Version.arch}})</td>
                    <td style="display:none;"></td>
                </tr>
                <tr class="text-center">
                    <td style="display:none;"></td>
                    <td style="display:none;"></td>
                    <td colspan="2">
                        <i class="fas fa-sliders-h" style="float:left;font-size:40px"></i>
                        <h4>Startup Parameters</h4>
                    </td>
                </tr>
                <tr>
                    <td>Binary Path</td>
                    <td>{{.Version.binary}}</td>
                    <td style="display:none;"></td>
                </tr>
                <tr>
                    <td>Config File</td>
                    <td>{{.Flags.ConfigFile}}</td>
                    <td style="display:none;"></td>
                </tr>
                <tr>
                    <td>Env Prefix</td>
                    <td>{{.Flags.EnvPrefix}}</td>
                    <td style="display:none;"></td>
                </tr>
                {{- if .Flags.ExtraConf}}
                <tr>
                    <td>Extra Configs</td>
                    <td>{{.Flags.ExtraConf}}</td>
                    <td style="display:none;"></td>
                </tr>
                {{- end}}
                {{- if .Flags.Assets}}
                <tr>
                    <td>Assets Path</td>
                    <td>{{.Flags.Assets}}</td>
                    <td style="display:none;"></td>
                </tr>
                {{- end}}
                <tr>
                <td>User, Group IDs</td>
                <td>{{.Version.uid}}, {{.Version.gid}}</td>
                <td style="display:none;"></td>
            </tr>
            <tr class="text-center">
                <td style="display:none;"></td>
                <td style="display:none;"></td>
                <td colspan="2">
                    <i class="fas fa-wifi" style="float:left;font-size:40px"></i>
                    <h4>Network</h4>
                </td>
            </tr>
            <tr>
                <td>IP Address</td>
                <td>{{.Version.ip}}</td>
                <td style="display:none;"></td>
            </tr>
            <tr>
                <td>Gateway</td>
                <td>{{.Version.gateway}}</td>
                <td style="display:none;"></td>
            </tr>
            <tr>
                <td>Netmask</td>
                <td>{{.Version.netmask}}</td>
                <td style="display:none;"></td>
            </tr>
            <tr>
                <td>Interface</td>
                <td>{{.Version.ifName}}</td>
                <td style="display:none;"></td>
            </tr>
            <tr class="text-center">
                <td style="display:none;"></td>
                <td style="display:none;"></td>
                <td colspan="2">
                    <i class="fas fa-box-open" style="float:left;font-size:40px"></i>
                    <h4>Storage</h4>
                </td>
            </tr>
            {{- range $k, $v := .Disks }}
            <tr>
                <td>{{$k}}</td>
                <td style="display:none;">{{$v.Device}}</td>
                <td>
                    <div class="row">
                    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-12">{{$v.Device}}</div>
                    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-12">Total: {{megabyte $v.Total}}</div>
                    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-12">Free: {{megabyte $v.Free}}</div>
                    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-12">Used: {{megabyte $v.Used}}</div>
                    <div class="col-lg-1 col-md-3 col-sm-4 col-xs-12">FS: {{$v.FSType}}{{if $v.ReadOnly}} <span title="read only">(ro)</span>{{end}}</div>
                    {{if $.ClientInfo.User.DevAllowed}}<div class="col-lg-3 col-md-5 col-sm-12 col-xs-12">{{$v.Opts}}</div>{{end}}
                    </div>
                </td>
            </tr>
            {{- end }}
                <tr class="text-center">
                <td style="display:none;"></td>
                <td style="display:none;"></td>
                <td colspan="2">
                    <i class="fas fa-cloud-sun-rain" style="float:left;font-size:40px"></i>
                    <h4>Environment</h4>
                </td>
            </tr>
            {{- range $k, $v := .Version.environ }}
            <tr>
                <td>{{$k}}</td>
                <td style="word-wrap:break-word;max-width:400px;">{{$v}}</td>
                <td style="display:none;"></td>
            </tr>
            {{- end }}
            </tbody>
    </table>
</div>
{{- /* end of system (leave this comment) */ -}}
