                    <h1>{{if eq .Version.os "windows"}}<i class="fab fa-windows"></i>&nbsp;&nbsp;
                     {{else if eq .Version.os "linux"}}<i class="fab fa-linux"></i>&nbsp;&nbsp;
                     {{else if eq .Version.os "freebsd"}}<i class="fab fa-freebsd"></i>&nbsp;&nbsp;
                     {{else if eq .Version.os "darwin"}}<i class="fab fa-apple"></i>&nbsp;&nbsp;
                     {{else}}<i class="fas fa-microchip"></i>&nbsp;&nbsp;{{end}} System</h1>
                    <table class="table table-striped table-bordered">
                         <thead>
                             <tr><td colspan="3" align="center"><h4 class="mb-3">Client</h4></td></tr>
                         </thead>
                         <tbody>
                             <tr>
                                 <td>Application</td>
                                 <td>{{.Version.program}}</td>
                             </tr>
                             <tr>
                                 <td>Version</td>
                                 <td>{{.Version.version}}.{{.Version.revision}}</td>
                             </tr>
                             <tr>
                                 <td>Started</td>
                                 <td>{{.Version.started}}</td>
                             </tr>
                             <tr>
                                 <td>Uptime</td>
                                 <td>{{.Version.uptime}}</td>
                             </tr>
                         </tbody>
                         <thead>
                             <tr><td colspan="3" align="center"><h4 class="mb-3">Build</h4></td></tr>
                         </thead>
                         <tbody>
                             <tr>
                                 <td>Branch</td>
                                 <td>{{.Version.branch}}</td>
                             </tr>
                             <tr>
                                 <td>Build User</td>
                                 <td>{{.Version.buildUser}}</td>
                             </tr>
                             <tr>
                                 <td>Build Date</td>
                                 <td>{{.Version.buildDate}}</td>
                             </tr>
                         </tbody>
                         <thead>
                             <tr><td colspan="3" align="center"><h4 class="mb-3">Operating System</h4></td></tr>
                         </thead>
                         <tbody>
                             <tr>
                                 <td>Operating System</td>
                                 <td>{{.Version.os}}</td>
                             </tr>
                             <tr>
                                 <td>Architecture</td>
                                 <td>{{.Version.arch}}</td>
                             </tr>
                         </tbody>
                    </table>
{{- /* end of system (leave this comment) */ -}}
