<h1><i class="fas fa-satellite"></i> Site Tunnel</h1>
<p>
    This client keeps a persistent websocket connection to a notifiarr.com
    <a href="https://github.com/golift/mulery" target="_new">Mulery</a> tunnel.
    This tunnel allows the website to make requests to your client without the need
    for opening a port, or having a static IP. This page allows you to select your
    primary tunnel and which tunnel you wish to use as backup in case the primary
    becomes inaccessible.
</p>
<p>
    Click the <span class="text-brand">Ping</span> button, and select the tunnel with the fastest response time as your primary.
    Select another fast tunnel as backup.
</p>
<p> {{$activeTunnel := (cache "activeTunnel")}}
    <li><b><i class="fas fa-star text-primary"></i> Active Tunnel: {{if $activeTunnel}}{{$activeTunnel.Data}}{{else}}unknown{{end}}</b></li>
</p>

<p></p>
<hr>

<div class="row">
    <div class="col-sm-12 mb">
        <button class="btn btn-brand btn-sm" onClick="pingTunnels();">Ping</button>
        <button class="btn btn-success btn-sm" onClick="saveTunnels();">Save</button>
        <span id="tunnel-ping-spinner" style="display:none;"><i class="fas fa-cog fa-spin"></i> Pinging ...</span>
        <span id="tunnel-save-spinner" style="display:none;"><i class="fas fa-cog fa-spin"></i> Saving ...</span>
        <br>
        <div id="tunnel-data"></div>
    </div>
    <div class="col-sm-12"><h4>Primary Tunnel</h4></div>
    <div class="col-sm-12">
        <table style="width:100%" class="table table-striped table-bordered">
            {{- range $idx, $mule := .ClientInfo.User.Mulery}}
            {{$primary := and (gt (len $.ClientInfo.User.Tunnels) 0) (eq (index $.ClientInfo.User.Tunnels 0) $mule.Socket)}}
            <tr>
                <td style="width:30px;">
                    <input type="radio" value="{{$mule.Socket}}" class="tunnel-param" name="primaryTunnel"{{if $primary}} checked{{end}}>
                </td>
                <td style="width:200px;">{{$mule.Location}}</td>
                <td style="width:60px;"><span class="text-warning text-center" id="tunnel-ping{{$idx}}"></span></td>
                <td>{{$mule.Socket}}</td>
            </tr>
            {{- end}}
        </table>
    </div>
    <div class="col-sm-12"><h4>Backup Tunnel</h4></div>
    <div class="col-sm-12">
        <select name="backupTunnel"  class="tunnel-param form-control input-sm">
        {{- range $mule := .ClientInfo.User.Mulery}}
        {{$backup := and (gt (len $.ClientInfo.User.Tunnels) 1) (eq (index $.ClientInfo.User.Tunnels 1) $mule.Socket)}}
        <option value="{{$mule.Socket}}"{{if $backup}} selected{{end}}>
            {{$mule.Location}} &nbsp; {{$mule.Socket}}
        </option>
        {{- end}}
        </select>
    </div>
</div>

<hr>
<h4>Tunnel Stats</h4>
<div class="table-responsive">
    <table style="width:100%" class="table table-striped table-bordered">
    {{- if .Tunnel }}
    {{- range $socket, $stats := .Tunnel.PoolStats }}
        <tr>
        <td style="width:230px;"><strong>Socket URL</strong> ({{if $stats.Active}}active{{else}}inactive{{end}})</td>
        <td><strong>{{$socket}}</strong></td>
        </tr>
        <tr><td>Disconnects</td><td>{{$stats.Disconnects}}</td></tr>
        <tr><td>Connection Pool Size</td><td>{{$stats.Total}}</td></tr>
        <tr><td>Connecting</td><td>{{$stats.Connecting}}</td></tr>
        <tr><td>Idle</td><td>{{$stats.Idle}}</td></tr>
        <tr><td>Running</td><td>{{$stats.Running}}</td></tr>
        <tr><td>Last Connection</td><td>{{since $stats.LastConn}}</td></tr>
        <tr><td>Last Active Check</td><td>{{since $stats.LastTry}}</td></tr>
        <tr><td colspan="2"></td></tr>
    {{- end }}
    {{- end }}
    </table>
</div>
