<h1><i class="fas fa-satellite"></i> Site Tunnel</h1>
<p>
    This client keeps a persistent websocket connection to a notifiarr.com
    <a href="https://github.com/golift/mulery">Mulery</a> tunnel.
    This tunnel allows the website to make requests to your client without the need
    for opening a port, or having a static IP. This page allows you to select your
    primary tunnel and which tunnel you wish to use as backup in case the primary
    becomes inaccessible.
</p>
<p>
    Click the <span class="text-brand">Ping</span> button, and select the tunnel with the fastest response time as your primary.
    Select any other tunnel as backup. Again, choose one with a faster response time.
</p>
<p> {{$activeTunnel := (cache "activeTunnel")}}
    <li><i class="fas fa-star text-dgrey"></i> Active Tunnel: <b>{{if $activeTunnel}}{{$activeTunnel.Data}}{{else}}unknown{{end}}</b></li>
</p>

<p></p>
<hr>

<div class="row">
    <div class="col-sm-12 text-center">
        Primary Tunnel
    </div>
    <div class="col-sm-12">
        <form class="form-inline">
            <div class="form-group" style="width:100%">
            {{- range $idx, $mule := .ClientInfo.User.Mulery}}
            {{$primary := and (gt (len $.ClientInfo.User.Tunnels) 0) (eq (index $.ClientInfo.User.Tunnels 0) $mule.Socket)}}
            <div class="input-group" style="width:100%">
                <div style="width:80px;" class="input-group-addon input-sm">
                    <span class="text-warning text-center" id="tunnel-ping{{$idx}}"></span>
                </div>
                <div style="width:30px; max-width:30px;" class="input input-group-addon input-sm">
                    <input type="radio" value="{{$mule.Socket}}" class="tunnel-param" name="primaryTunnel"{{if $primary}} checked{{end}}>
                </div>
                <input readonly value="{{$mule.Socket}}" class="input form-control input-sm" type="text">
            </div>
            {{- end}}
            </div>
        </form>
    </div>
    <div class="col-sm-12 text-center">
        Backup Tunnel
    </div>
    <div class="col-sm-12">
        <select name="backupTunnel"  class="tunnel-param form-control input-sm">
        {{- range $mule := .ClientInfo.User.Mulery}}
        {{$backup := and (gt (len $.ClientInfo.User.Tunnels) 1) (eq (index $.ClientInfo.User.Tunnels 1) $mule.Socket)}}
        <option value="{{$mule.Socket}}"{{if $backup}} selected{{end}}>
            {{$mule.Socket}}
        </option>
        {{- end}}
        </select>
    </div>

    <div class="col-sm-12 mt">
        <button class="btn btn-brand btn-sm" onClick="pingTunnels();">Ping</button>
        <button class="btn btn-success btn-sm" onClick="saveTunnels();">Save</button>
        <span id="tunnel-ping-spinner" style="display:none;"><i class="fas fa-cog fa-spin"></i> Pinging ...</span>
        <span id="tunnel-save-spinner" style="display:none;"><i class="fas fa-cog fa-spin"></i> Saving ...</span>
        <br>
        <div id="tunnel-data"></div>
    </div>
</div>

<hr>
<h4>Tunnel Stats</h4>
<div class="table-responsive">
    <table style="width:100%" class="table table-striped table-bordered">
    {{- if .Tunnel }}
    {{- range $socket, $stats := .Tunnel.PoolStats }}
        <tr>
        <td><strong>Socket URL</strong> ({{if $stats.Active}}active{{else}}inactive{{end}})</td>
        <td><strong>{{$socket}}</strong></td>
        </tr>
        <tr><td>Disconnects</td><td>{{$stats.Disconnects}}</td></tr>
        <tr><td>Connection Pool Size</td><td>{{$stats.Total}}</td></tr>
        <tr><td>Connecting</td><td>{{$stats.Connecting}}</td></tr>
        <tr><td>Idle</td><td>{{$stats.Idle}}</td></tr>
        <tr><td>Running</td><td>{{$stats.Running}}</td></tr>
        <tr><td>Last Connection</td><td>{{since $stats.LastConn}}</td></tr>
        <tr><td>Last Active Check</td><td>{{since $stats.LastTry}}</td></tr>
        <tr><td colspan="2"></td></tr>
    {{- end }}
    {{- end }}
    </table>
</div>
