{{- range $idx, $app := .Config.Apps.Sonarr }}
    {{- $appStatus := cacheID "sonarrStatus" $idx }}
    {{- $appQueue := cacheID "sonarr" $idx }}
<div class="col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-3">
    <div class="table-responsive">
        <table class="table table-striped table-bordered">  
            <tr>
                <td style="width:75px;">Sonarr</td>
                <td style="width:25px;min-width:25px;">
                    <img src="{{files}}/images/logo/sonarr.png" style="width:25px">
                </td>
                <td>{{instance $idx}}, {{$app.Name}}</td>
            </tr>
            <tr><td colspan="2">URL</td><td><a href="{{$app.URL}}">{{$app.URL}}</a></td></tr>
    {{- if and $appStatus $appStatus.Data }}
            <tr>
                <td colspan="2">
                    <a href="#integrations" onClick="dialog($(this), 'left')">Cache Age</a>
                    <span style="display:none;" class="dialogTitle">Sonarr {{instance $idx}} System Status</span>
                    <div style="display:none;" class="dialogText">
                        <pre>{{tojson $appStatus.Data}}</pre>
                    </div>
                </td>
                <td>{{since $appStatus.Time}}</td>
            </tr>
            <tr><td colspan="2">Version</td><td>{{$appStatus.Data.Version}}</td></tr>
            <tr><td colspan="2">Branch</td><td>{{$appStatus.Data.Branch}}</td></tr>
            <tr><td colspan="2">Build Time</td><td>{{$appStatus.Data.BuildTime}}</td></tr>
    {{- end }}
    {{- if and $appQueue $appQueue.Data $appStatus $appStatus.Data }}
            <tr><td colspan="3"></td></tr>
    {{- end }}
    {{- if and $appQueue $appQueue.Data }}
            <tr><td colspan="2">Queue Age</td><td>{{since $appQueue.Time}}</td></tr>
            <tr><td colspan="2">Queue Size</td><td>{{len $appQueue.Data.Records}}</td></tr>
    {{- end }}
    {{- $dashboard := cache "dashboard" }}
    {{- if and $dashboard $dashboard.Data $dashboard.Data.Sonarr}}
        {{ range $son := $dashboard.Data.Sonarr }}
            {{- if eq $son.Instance (instance $idx) }}
            <tr><td colspan="3"></td></tr>
            <tr>
                <td colspan="2">
                    <a href="#integrations" onClick="dialog($(this), 'left')">Dashboard Age</a>
                    <span style="display:none;" class="dialogTitle">Sonarr {{instance $idx}} Dashboard</span>
                    <div style="display:none;" class="dialogText">
                        <pre>{{tojson $son}}</pre>
                    </div>
                </td>
                <td>{{since $dashboard.Time}}</td>
            </tr>
            <tr><td colspan="2">Elapsed</td><td>{{$son.Elapsed}}</td></tr>
            <tr><td colspan="2">Shows</td><td>{{$son.Shows}}</td></tr>
            <tr><td colspan="2">On Disk</td><td>{{$son.OnDisk}}</td></tr>
            <tr><td colspan="2">Episodes</td><td>{{$son.Episodes}}</td></tr>
            <tr><td colspan="2">Missing</td><td>{{$son.Missing}}</td></tr>
            <tr><td colspan="2">Size</td><td>{{megabyte $son.Size}}</td></tr>
            {{- end}}
        {{- end }}
    {{- end }}
        </table>
    </div>
</div>
{{- end }}
{{- /* end of app integration (leave this comment) */ -}}
