                                <h1><i class="fas fa-cart-arrow-down"></i> Download Apps</h1>
                                <p>Adding and enabling these downloader applications makes them show up in the <b>Dashboard Integration</b> on Notifiarr.com.</p>
                                <p>
                                    <h3><i class="fas fa-comment text-orange"></i> Notes</h3>
                                    <li><i class="fas fa-star text-dgrey"></i> Completely disable an instance by setting the <b>Timeout</b> to <b>Disabled</b>.</li>
                                    <li><i class="fas fa-star text-dgrey"></i> Disable service checks by settings <b>Interval</b> to <b>Disabled</b>.</li>
                                </p>
                                <div class="table-responsive">
                                    <table class="table bk-dark table-bordered">
{{ template "downloaders/qbit.html" .}}
{{ template "downloaders/rtorrent.html" .}}
{{ template "downloaders/transmission.html" .}}
{{ template "downloaders/deluge.html" .}}
{{ template "downloaders/sabnzbd.html" .}}
{{ template "downloaders/nzbget.html" .}}
                                    </table>
                                </div>
{{- /* end of download clients (leave this comment) */ -}}
