<thead>
    <tr>
        <td colspan="7" class="mobile-hide text-center">
            <div style="float: left;"><img src="{{files}}/images/logo/nzbget.png" style="height:50px;"></div>
            <h2 class="mb-3" style="margin-bottom:-45px">NZBGet</h2>
            <div style="float: right;">
                <button id="download-NZBGet-addbutton" onclick="addInstance('download', 'NZBGet')" data-prefix="Apps" data-sslname="ValidSSL" type="button"
                    data-names='["Name","Config.URL","Config.User","Config.Pass","Interval","Timeout"]' title="Add another instance of NZBGet." class="add-new-item-button btn btn-primary">
                    <i class="fa fa-plus"></i>
                </button>
            </div>
        </td>
        <td colspan="7" class="tablet-hide desktop-hide">
            <button id="download-NZBGet-addbutton" onclick="addInstance('download', 'NZBGet')" data-prefix="Apps" type="button"
                data-names='["Name","Config.URL","Config.User","Config.Pass","Interval","Timeout"]' title="Add another instance of NZBGet." class="add-new-item-button btn btn-primary">
                <i class="fa fa-plus"></i>
            </button>
            <h2 class="mb-3" style="margin-left:5px;display:inline;">NZBGet</h2>
            <div style="float:right;"><img src="{{files}}/images/logo/nzbget.png" style="height:50px;"></div>
        </td>
    </tr>
    <tr>
        <td class="text-center" style="width:90px;min-width:90px;">
            <div style="display:none;" class="dialogText">
                The <span class="text-danger">red</span> button deletes the instance.<br>
                The <span class="text-success">green</span> button tests the instance.<br>
                The <span class="text-primary">blue</span> button adds a new instance.
            </div>
            <a onClick="dialog($(this), 'left')" class="help-icon far fa-question-circle"></a>
            <span class="dialogTitle">Actions</span>
        </td>
        <td style="min-width:130px;">
            <div style="display:none;" class="dialogText">
                Name is optional, but required to be unique if you wish to enable service checks on the instance. Otherwise, it's used to identify the instance easier.
            </div>
            <a onClick="dialog($(this), 'left')" class="help-icon far fa-question-circle"></a>
            <span class="dialogTitle">Name</span>
        </td>
        <td style="min-width:190px;">
            <div style="display:none;" class="dialogText">
                http:// or https:// URL for the application instance. Providing an https:// URL reveals a checkbox.
                Checking this box enables SSL certificate validation; invalid certificates generate an error.
            </div>
            <a onClick="dialog($(this), 'right')" class="help-icon far fa-question-circle"></a>
            <span class="dialogTitle">URL</span>
        </td>
        <td style="min-width:80px;">Username</td>
        <td style="min-width:170px;">Password</td>
        <td style="min-width:90px;width:90px">
            <div style="display:none;" class="dialogText">This controls how often to check this service. Disable service checks for this instance by setting this to Disabled</div>
            <a onClick="dialog($(this), 'right')" class="help-icon far fa-question-circle"></a>
            <span class="dialogTitle">Interval</span>
        </td>
        <td style="min-width:120px;width:120px">
            <div style="display:none;" class="dialogText">
                This controls the maximum duration a request to this application may elapse.
                Selecting <b>No Timeout</b> can be dangerous. Selecting <b>Disabled</b> completely disables the instance.
            </div>
            <a onClick="dialog($(this), 'right')" class="help-icon far fa-question-circle"></a>
            <span class="dialogTitle">Timeout</span>
        </td>
    </tr>
</thead>
<tbody id="download-NZBGet-container">
{{- range $index, $app := .Config.Apps.NZBGet}}
    <input disabled style="display: none;" class="client-parameter download-NZBGet{{$index}}-deleted" data-group="download"
        data-label="NZBGet {{instance $index}} Deleted" data-original="false" value="false">
    <tr class="download-NZBGet {{if (lt $app.Timeout.Seconds (add 0 0))}}bk-danger{{end}}" id="download-NZBGet-{{$index}}">
        <td style="white-space:nowrap;">
            <div class="btn-group" role="group" style="display:flex;">
                <button onclick="removeInstance('download-NZBGet', {{$index}})" type="button" class="delete-item-button btn btn-danger btn-sm" style="font-size:18px;width:35px;">
                    <i class="fa fa-minus"></i>
                </button>
                <button id="NZBGetIndexLabel{{$index}}" class="btn btn-sm" style="font-size:18px;width:35px;pointer-events:none;">{{instance $index}}</button>
                <button onClick="testInstance($(this), 'NZBGet', '{{$index}}')" type="button" class="btn btn-success btn-sm checkInstanceBtn" style="font-size:18px;">
                    <i class="fas fa-check-double"></i>
                </button>
            </div>
        </td>
        <td>
            <form class="form-inline">
                <div class="form-group" style="width:100%">
                    <div class="input-group" style="width:100%">
                        {{- if (locked (printf "%s_NZBGET_%d_NAME" $.Flags.EnvPrefix $index))}}
                        <div style="width:30px; max-width:30px;" class="input-group-addon input-sm">
                            <div style="display:none;" class="dialogText">
                                An environment variable exists for this value. Your new value will write to the config file, but the application will not use it.
                            </div>
                            <i onClick="dialog($(this), 'left')" class="text-danger help-icon fas fa-outdent"></i>
                            <span class="dialogTitle" style="display:none;">Variable: {{printf "%s_NZBGET_%d_NAME" $.Flags.EnvPrefix $index}}</span>
                        </div>
                        {{- end}}
                        <input type="text" id="Apps.NZBGet.{{$index}}.Name" name="Apps.NZBGet.{{$index}}.Name" data-index="{{$index}}" data-app="NZBGet"
                            class="client-parameter form-control input-sm" data-group="download" data-label="NZBGet {{instance $index}} Name"
                            data-original="{{(index $.Input.Apps.NZBGet $index).Name}}" value="{{(index $.Input.Apps.NZBGet $index).Name}}">
                    </div>
                </div>
            </form>
        </td>
        <td>
            <form class="form-inline">
                <div class="form-group" style="width:100%">
                    <div class="input-group" style="width:100%">
                        {{- if (locked (printf "%s_NZBGET_%d_URL" $.Flags.EnvPrefix $index))}}
                        <div style="width:30px; max-width:30px;" class="input-group-addon input-sm">
                            <div style="display:none;" class="dialogText">
                                An environment variable exists for this value. Your new value will write to the config file, but the application will not use it.
                            </div>
                            <i onClick="dialog($(this), 'left')" class="text-danger help-icon fas fa-outdent"></i>
                            <span class="dialogTitle" style="display:none;">Variable: {{printf "%s_NZBGET_%d_URL" $.Flags.EnvPrefix $index}}</span>
                        </div>
                        {{- end}}
                        <input type="text" id="Apps.NZBGet.{{$index}}.Config.URL" onChange="showhttps($(this).val(), '#NZBGet{{$index}}SSL');" name="Apps.NZBGet.{{$index}}.Config.URL"
                            data-index="{{$index}}" data-app="NZBGet" class="client-parameter form-control input-sm" data-group="download" data-label="NZBGet {{instance $index}} URL"
                            data-original="{{(index $.Input.Apps.NZBGet $index).URL}}" value="{{(index $.Input.Apps.NZBGet $index).URL}}">
                        <div style="width:30px; max-width:30px;{{if not (contains $app.URL "https://")}}display:none;{{end}}" id="NZBGet{{$index}}SSL" class="input-group-addon input-sm">
                            <input type="checkbox" id="Apps.NZBGet.{{$index}}.ValidSSL" name="Apps.NZBGet.{{$index}}.ValidSSL" data-index="{{$index}}" data-app="NZBGet"
                                class="client-parameter" data-group="download" data-label="NZBGet {{instance $index}} SSL"
                                data-original="{{$app.ValidSSL}}" {{if $app.ValidSSL}}checked {{end}}value="true">
                        </div>
                    </div>
                </div>
            </form>
        </td>
        <td>
            <form class="form-inline">
                <div class="form-group" style="width:100%">
                    <div class="input-group" style="width:100%">
                        {{- if (locked (printf "%s_NZBGET_%d_USER" $.Flags.EnvPrefix $index))}}
                        <div style="width:30px; max-width:30px;" class="input-group-addon input-sm">
                            <div style="display:none;" class="dialogText">
                                An environment variable exists for this value. Your new value will write to the config file, but the application will not use it.
                            </div>
                            <i onClick="dialog($(this), 'right')" class="text-danger help-icon fas fa-outdent"></i>
                            <span class="dialogTitle" style="display:none;">Variable: {{printf "%s_NZBGET_%d_USER" $.Flags.EnvPrefix $index}}</span>
                        </div>
                        {{- end}}
                        <input type="text" id="Apps.NZBGet.{{$index}}.Config.User" name="Apps.NZBGet.{{$index}}.Config.User" data-index="{{$index}}" data-app="NZBGet"
                            class="client-parameter form-control input-sm" data-group="download" data-label="NZBGet {{instance $index}} User"
                            data-original="{{(index $.Input.Apps.NZBGet $index).User}}" value="{{(index $.Input.Apps.NZBGet $index).User}}">
                    </div>
                </div>
            </form>
        </td>
        <td>
            <form class="form-inline">
                <div class="form-group" style="width:100%">
                    <div class="input-group" style="width:100%">
                        {{- if (locked (printf "%s_NZBGET_%d_PASS" $.Flags.EnvPrefix $index))}}
                        <div style="width:30px; max-width:30px;" class="input-group-addon input-sm">
                            <div style="display:none;" class="dialogText">
                                An environment variable exists for this value. Your new value will write to the config file, but the application will not use it.
                            </div>
                            <i onClick="dialog($(this), 'right')" class="text-danger help-icon fas fa-outdent"></i>
                            <span class="dialogTitle" style="display:none;">Variable: {{printf "%s_NZBGET_%d_PASS" $.Flags.EnvPrefix $index}}</span>
                        </div>
                        {{- end}}
                        <input type="password" autocomplete="off" id="Apps.NZBGet.{{$index}}.Config.Pass" name="Apps.NZBGet.{{$index}}.Config.Pass" data-index="{{$index}}"
                            data-app="NZBGet" class="client-parameter form-control input-sm" data-group="download" data-label="NZBGet {{instance $index}} Pass"
                            data-original="{{(index $.Input.Apps.NZBGet $index).Pass}}" value="{{(index $.Input.Apps.NZBGet $index).Pass}}">
                        <div style="width:35px; max-width:35px;" class="input-group-addon input-sm" onClick="togglePassword('Apps.NZBGet.{{$index}}.Config.Pass', $(this).find('i'));">
                            <i class="fas fa-low-vision secret-input"></i>
                        </div>
                    </div>
                </div>
            </form>
        </td>
        <td>
            <form class="form-inline">
                <div class="form-group" style="width:100%">
                    <div class="input-group" style="width:100%">
                        {{- if (locked (printf "%s_NZBGET_%d_INTERVAL" $.Flags.EnvPrefix $index))}}
                        <div style="width:30px; max-width:30px;" class="input-group-addon input-sm">
                            <div style="display:none;" class="dialogText">
                                An environment variable exists for this value. Your new value will write to the config file, but the application will not use it.
                            </div>
                            <i onClick="dialog($(this), 'right')" class="text-danger help-icon fas fa-outdent"></i>
                            <span class="dialogTitle" style="display:none;">Variable: {{printf "%s_NZBGET_%d_INTERVAL" $.Flags.EnvPrefix $index}}</span>
                        </div>
                        {{- end}}
                        <select type="select" id="Apps.NZBGet.{{$index}}.Interval" name="Apps.NZBGet.{{$index}}.Interval" data-index="{{$index}}" data-app="NZBGet"
                            class="client-parameter form-control input-sm" data-group="download" data-label="NZBGet {{instance $index}} Interval"
                            data-original="{{$app.Interval}}" value="{{$app.Interval}}">
{{template "includes/intervaloptions.html" $app.Interval}}
                        </select>
                    </div>
                </div>
            </form>
        </td>
        <td>
            <form class="form-inline">
                <div class="form-group" style="width:100%">
                    <div class="input-group" style="width:100%">
                        {{- if (locked (printf "%s_NZBGET_%d_TIMEOUT" $.Flags.EnvPrefix $index))}}
                        <div style="width:30px; max-width:30px;" class="input-group-addon input-sm">
                            <div style="display:none;" class="dialogText">
                                An environment variable exists for this value. Your new value will write to the config file, but the application will not use it.
                            </div>
                            <i onClick="dialog($(this), 'right')" class="text-danger help-icon fas fa-outdent"></i>
                            <span class="dialogTitle" style="display:none;">Variable: {{printf "%s_NZBGET_%d_TIMEOUT" $.Flags.EnvPrefix $index}}</span>
                        </div>
                        {{- end}}
                        <select type="select" id="Apps.NZBGet.{{$index}}.Timeout" name="Apps.NZBGet.{{$index}}.Timeout" data-index="{{$index}}" data-app="NZBGet"
                            class="client-parameter form-control input-sm" data-group="download" data-label="NZBGet {{instance $index}} Timeout" data-original="{{$app.Timeout}}">
                            <option value="-1s" {{if eq $app.Timeout.Seconds (add 0 -1)}}selected {{end}}>Disabled</option>
                            <option value="0s" {{if eq $app.Timeout.Seconds (add 0 0)}}selected {{end}}>No Timeout</option>
                            {{- range $i := one259 }}
                            <option {{if eq $app.Timeout.Seconds $i}}selected {{end}}value="{{$i}}s">{{$i}} second{{if not (eq $i (add 0 1))}}s{{end}}</option>
                            {{- end}}
                            <option {{if eq $app.Timeout.Seconds (add 0 60)}}selected {{end}}value="1m">1 minute</option>
                            {{- range $i := one259 }}
                            <option {{if eq $app.Timeout.Seconds (add 60 $i)}}selected {{end}}value="1m{{$i}}s">1 min {{$i}} sec</option>
                            {{- end}}
                        </select>
                    </div>
                </div>
            </form>
        </td>
    </tr>
{{- end}}
    <tr id="download-NZBGet-none" {{if .Config.Apps.NZBGet}} style="display: none;"{{end}}><td colspan="7">No NZBGet instances configured.</td></tr>
</tbody>
{{- /* end of downloaders nzbget (leave this comment) */ -}}
