# Systemd service unit for notifiarr.

[Unit]
Description=notifiarr - Official chat integration client for Notifiarr.com
After=network.target
Requires=network.target

[Service]
Environment=DN_LOG_FILE=/var/log/notifiarr/app.log
Environment=DN_HTTP_LOG=/var/log/notifiarr/http.log
Environment=DN_SERVICES_LOG_FILE=/var/log/notifiarr/services.log
Environment=DN_QUIET=true
ExecStart=/usr/bin/notifiarr $DAEMON_OPTS
EnvironmentFile=-/etc/default/notifiarr
EnvironmentFile=-/etc/sysconfig/notifiarr
Restart=always
RestartSec=10
SyslogIdentifier=notifiarr
Type=simple
WorkingDirectory=/tmp
UMask=0002
User=notifiarr
Group=notifiarr

[Install]
WantedBy=multi-user.target
