######################################################
# DiscordNotifier Client Example Configuration File. #
######################################################

# This API key must be copied from your discordnotifier.com account.
api_key = "api-key-from-discordnotifier.com"

# The ip:port or port to listen on for incoming web requests.
# You can use 127.0.0.1:5454 to listen only on localhost.
bind_addr = "5454"


# Quiet makes the app not log anything to output.
# Recommend setting log files if you make the app quiet.
quiet = false

# All API paths start with /api.
# Set it to /somethingelse/api by setting urlbase to "/somethingelse"
urlbase = "/"

# Allowed upstream networks. The networks here are allowed to send x-forwarded-for.
# Set this to your reverse proxy server's IP or network. If you leave off the mask,
# then /32 or /128 is assumed depending on IP version. Empty by default. Example:
#upstreams = [ "127.0.0.1/32", "::1/128" ]

# If you provide a cert and key file (pem) paths, this app will listen with SSL/TLS.
# Uncomment both lines and add valid file paths. Make sure this app can read them.
# ssl_key_file  = "/path/to/cert.key"
# ssl_cert_file = "/path/to/cert.pem"

# If you set these, logs will be written to these files.
# If blank on windows or macOS, log file paths are chosen for you.
#log_file = "dnclient.log"
#http_log = "dnclient.http.log"
# Set this to the number of megabytes to rotate files.
log_files_mb = 100
# How many files to keep? 0 = all.
log_files = 10

# Web server and application timeouts.
timeout = "1m"


    ##################
    # Starr Settings #
    ##################

# The API keys are specific to the app. Get it from General Settings.
# Configurations for unused apps are harmless. Set URL and API key for
# apps you have and want to make requests to using Media Bot.

[[radarr]]
  url     = "http://127.0.0.1:7878/radarr"
  api_key = ""

[[readarr]]
  url     = "http://127.0.0.1:8787/readarr"
  api_key = ""

[[sonarr]]
  url     = "http://127.0.0.1:8989/"
  api_key = ""

[[lidarr]]
  url     = "http://127.0.0.1:8686/"
  api_key = ""
