<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>io.golift.notifiarr</string>
        <key>RunAtLoad</key>
        <true/>
        <key>KeepAlive</key>
        <dict>
            <key>SuccessfulExit</key>
            <false/>
            <key>Crashed</key>
            <true/>
        </dict>
        <key>EnvironmentVariables</key>
        <dict>
            <key>USEGUI</key>
            <string>true</string>
            <key>DN_QUIET</key>
            <string>true</string>
        </dict>
        <key>ProgramArguments</key>
        <array>
            <string>{{exe}}</string>
            <string>--delay</string>
            <string>6s</string>
        </array>
        <key>ThrottleInterval</key>
        <integer>30</integer>
    </dict>
</plist>
