                        </div> <!-- index :: container-fluid -->
                    </div> <!-- index :: content-wrapper -->
                </div> <!-- index :: ts-main-content -->
            </div> <!-- index :: page-body -->
            <div class="page-footer{{if not .Flags.ConfigFile}} bk-danger{{end}}">
                {{- if not .Flags.ConfigFile}}
                <div style="display:none;" class="dialogText">
                    The application is currently running without a config file. Saving changes is disabled.
                </div>
                <span class="dialogTitle" style="display:none;">Config File Unwritable</span>
                <a onClick="dialog($(this), 'top')" class="help-icon">
                    <i class="fas fa-exclamation-circle"></i> Config File?
                </a> &nbsp;•&nbsp;
                {{- end}}
                <span class="mobile-hide"><a href="https://Notifiarr.com">Notifiarr.com</a> &nbsp;•&nbsp;</span>
                <a href="https://Notifiarr.wiki">Wiki</a> &nbsp;•&nbsp;
                <a href="https://Notifiarr.com/discord">Support</a> &nbsp;•&nbsp;
                <i style="font-size:0.87em;" class="far fa-copyright"></i> <span class="mobile-hide">2020-</span>{{now.Format "2006"}}
                <a href="https://golift.io/">Go Lift</a> &nbsp;•&nbsp;
                <a href="https://golift.io/notifiarr/blob/main/LICENSE">MIT license</a>
                <span class="mobile-hide">
                {{- if .Username }}
                {{- if .ClientInfo.IsSub}}
                    &nbsp;•&nbsp; Subscriber <font size="1em">💚</font>
                {{- else if .ClientInfo.IsPatron}}
                    &nbsp;•&nbsp; Patron <font size="1em">💜</font>
                {{- end}}
                {{- end}}
                </span>
            </div>
        </div> <!-- index :: page-container -->
    </body>
</html>
