<thead>
    <tr>
        <td colspan="9" class="text-center mobile-hide"><div style="float: left;">
            <img src="{{files}}/images/logo/readarr.png" style="height:50px;"></div>
            <h2 style="margin-bottom:-45px">Readarr</h2>
            <div style="float: right;">
                <button id="starr-Readarr-addbutton" onclick="addInstance('starr', 'Readarr')" data-prefix="Apps" data-sslname="ValidSSL" type="button"
                    data-names='["Name","URL","APIKey","Username","Password","Interval","Timeout","Deletes"]' class="add-new-item-button btn btn-primary">
                    <i class="fa fa-plus"></i>
                </button>
            </div>
        </td>
        <td colspan="9" class="tablet-hide desktop-hide">
            <button onclick="addInstance('starr', 'Readarr')" data-prefix="Apps" type="button" class="add-new-item-button btn btn-primary"><i class="fa fa-plus"></i></button>
            <h2 style="margin-left:5px;display:inline;">Readarr</h2>
            <div style="float:right;"><img src="{{files}}/images/logo/readarr.png" style="height:50px;"></div>
        </td>
    </tr>
    <tr>
        <td style="width:70px;min-width:70px;" class="text-center">
            <div style="display:none;" class="dialogText">
                The <span class="text-danger">red</span> button deletes the instance.<br>
                The <span class="text-success">green</span> button tests the instance.<br>
                The <span class="text-primary">blue</span> button adds a new instance.
            </div>
            <a onClick="dialog($(this), 'left')" class="help-icon far fa-question-circle"></a>
            <span class="dialogTitle">Actions</span>
        </td>
        <td>
            <div style="display:none;" class="dialogText">Name is optional, but required to be unique if you wish to enable service checks on the instance. 
                Otherwise, it's used to identify the instance easier.</div>
            <a onClick="dialog($(this), 'left')" class="help-icon far fa-question-circle"></a>
            <span class="dialogTitle">Name</span>
        </td>
        <td>
            <div style="display:none;" class="dialogText">
                http:// or https:// URL for the application instance. Include the Base URL if that's configured in your application.
                Providing an https:// URL reveals a checkbox.
                Checking this box enables SSL certificate validation; invalid certificates generate an error.
            </div>
            <a onClick="dialog($(this), 'right')" class="help-icon far fa-question-circle"></a>
            <span class="dialogTitle">URL</span>
        </td>
        <td style="min-width:100px;">
            <div style="display:none;" class="dialogText">Get your API key from the application's General Settings. You know the thing, c'mon man!</div>
            <a onClick="dialog($(this), 'right')" class="help-icon far fa-question-circle"></a>
            <span class="dialogTitle">API Key</span>
        </td>
        <td>
            <div style="display:none;" class="dialogText">Username and password are required when authentication is enabled in the application, 
                AND you enabled corruption checks. Database backups cannot be download from the API, and they must be downloaded from a non-API path that may be authenticated. 
                If you get 401 errors when doing Corruption checks, add your username and password.</div>
            <a onClick="dialog($(this), 'right')" class="help-icon far fa-question-circle"></a>
            <span class="dialogTitle">Username</span>
        </td>
        <td>
            <div style="display:none;" class="dialogText">Username and password are required when authentication is enabled in the application, 
                AND you enabled corruption checks. Database backups cannot be download from the API, and they must be downloaded from a non-API path that may be authenticated. 
                If you get 401 errors when doing Corruption checks, add your username and password.</div>
            <a onClick="dialog($(this), 'right')" class="help-icon far fa-question-circle"></a>
            <span class="dialogTitle">Password</span>
        </td>
        <td>
            <div style="display:none;" class="dialogText">This controls how often to check this service. Disable service checks for this instance by setting this to Disabled</div>
            <a onClick="dialog($(this), 'right')" class="help-icon far fa-question-circle"></a>
            <span class="dialogTitle">Interval</span>
        </td>
        <td>
            <div style="display:none;" class="dialogText">This controls the maximum duration a request to this application may elapse.</div>
            <a onClick="dialog($(this), 'right')" class="help-icon far fa-question-circle"></a>
            <span class="dialogTitle">Timeout</span>
        </td>
        <td style="min-width:90px;width:100px">
            <div style="display:none;" class="dialogText">
                This controls how many delete requests are allowed per hour.
                A setting of 0 disables the ability to send delete requests.
                This refers to media deletes, but may include other actions.
                This is a throttle to prevent hackers from obliterating your content.
            </div>
            <a onClick="dialog($(this), 'right')" class="help-icon far fa-question-circle"></a>
            <span class="dialogTitle">Deletes</span>
        </td>
    </tr>
</thead>
<tbody id="starr-Readarr-container">
    {{- range $index, $app := .Config.Apps.Readarr}}
    <input disabled style="display: none;" class="client-parameter form-control input-sm starr-Readarr{{$index}}-deleted" data-group="starr"
       data-label="Readarr {{instance $index}} Deleted"data-original="false" value="false">
    <tr class="starr-Readarr {{if (lt $app.Timeout.Seconds (add 0 0))}}bk-danger{{end}}" id="starr-Readarr-{{$index}}">
        <td style="white-space:nowrap;">
            <div class="btn-group" role="group" style="display:flex;">
                <button onclick="removeInstance('starr-Readarr', {{$index}})" type="button" class="delete-item-button btn btn-danger btn-sm" style="font-size:18px;width:35px;">
                    <i class="fa fa-minus"></i>
                </button>
                <button id="ReadarrIndexLabel{{$index}}" class="btn btn-sm" style="font-size:18px;width:35px;pointer-events:none;">{{instance $index}}</button>
                <button onClick="testInstance($(this), 'Readarr', '{{$index}}')" style="font-size:18px;" type="button" class="btn btn-success btn-sm checkInstanceBtn">
                    <i class="fas fa-check-double"></i>
                </button>
            </div>
        </td>
        <td>
            <div class="form-inline">
                <div class="form-group" style="width:100%">
                    <div class="input-group" style="width:100%">
                        {{- if (locked (printf "%s_READARR_%d_NAME" $.Flags.EnvPrefix $index)) }}
                        <div style="width:30px; max-width:30px;" class="input-group-addon input-sm">
                            <div style="display:none;" class="dialogText">
                                An environment variable exists for this value. Your new value will write to the config file, but the application will not use it.
                            </div>
                            <i onClick="dialog($(this), 'left')" class="text-danger help-icon fas fa-outdent"></i>
                            <span class="dialogTitle" style="display:none;">Variable: {{printf "%s_READARR_%d_NAME" $.Flags.EnvPrefix $index}}</span>
                        </div>
                        {{- end}}
                        <input type="text" id="Apps.Readarr.{{$index}}.Name" name="Apps.Readarr.{{$index}}.Name" onChange="showhttps($(this).val(), '#Readarr{{$index}}SSL');"
                            data-index="{{$index}}" data-app="Readarr" class="client-parameter form-control input-sm" data-group="starr" data-label="Readarr {{instance $index}} Name"
                            data-original="{{(index $.Input.Apps.Readarr $index).Name}}" value="{{(index $.Input.Apps.Readarr $index).Name}}">
                    </div>
                </div>
            </div>
        </td>
        <td>
            <div class="form-inline">
                <div class="form-group" style="width:100%">
                    <div class="input-group" style="width:100%">
                        {{- if (locked (printf "%s_READARR_%d_URL" $.Flags.EnvPrefix $index)) }}
                        <div style="width:30px; max-width:30px;" class="input-group-addon input-sm">
                            <div style="display:none;" class="dialogText">
                                An environment variable exists for this value. Your new value will write to the config file, but the application will not use it.
                            </div>
                            <i onClick="dialog($(this), 'left')" class="text-danger help-icon fas fa-outdent"></i>
                            <span class="dialogTitle" style="display:none;">Variable: {{printf "%s_READARR_%d_URL" $.Flags.EnvPrefix $index}}</span>
                        </div>
                        {{- end}}
                        <input type="text" id="Apps.Readarr.{{$index}}.URL" name="Apps.Readarr.{{$index}}.URL" data-index="{{$index}}" data-app="Readarr"
                            class="client-parameter form-control input-sm" data-group="starr" data-label="Readarr {{instance $index}} URL"
                            data-original="{{(index $.Input.Apps.Readarr $index).URL}}" value="{{(index $.Input.Apps.Readarr $index).URL}}">
                        <div style="width:30px; max-width:30px;{{if not (contains $app.URL "https://")}}display:none;{{end}}" id="Readarr{{$index}}SSL" class="input-group-addon input-sm">
                            <input type="checkbox" id="Apps.Readarr.{{$index}}.ValidSSL" name="Apps.Readarr.{{$index}}.ValidSSL" data-index="{{$index}}"
                                data-app="Readarr" class="client-parameter" data-group="starr" data-label="Readarr {{instance $index}} SSL"
                                data-original="{{$app.ValidSSL}}" {{if $app.ValidSSL}}checked {{end}}value="true">
                        </div>
                    </div>
                </div>
            </div>
        </td>
        <td>
            <div class="form-inline">
                <div class="form-group" style="width:100%">
                    <div class="input-group" style="width:100%">
                        {{- if (locked (printf "%s_READARR_%d_API_KEY" $.Flags.EnvPrefix $index)) }}
                        <div style="width:30px; max-width:30px;" class="input-group-addon input-sm">
                            <div style="display:none;" class="dialogText">
                                An environment variable exists for this value. Your new value will write to the config file, but the application will not use it.
                            </div>
                            <i onClick="dialog($(this), 'left')" class="text-danger help-icon fas fa-outdent"></i>
                            <span class="dialogTitle" style="display:none;">Variable: {{printf "%s_READARR_%d_API_KEY" $.Flags.EnvPrefix $index}}</span>
                        </div>
                        {{- end}}
                        <input type="password" autocomplete="new-password" id="Apps.Readarr.{{$index}}.APIKey" name="Apps.Readarr.{{$index}}.APIKey" data-index="{{$index}}"
                        data-app="Readarr" class="client-parameter form-control input-sm" data-group="starr" data-label="Readarr {{instance $index}} API Key"
                        data-original="{{(index $.Input.Apps.Readarr $index).APIKey}}" value="{{(index $.Input.Apps.Readarr $index).APIKey}}">
                        <div style="width:35px; max-width:35px;" class="input-group-addon input-sm" onClick="togglePassword('Apps.Readarr.{{$index}}.APIKey', $(this).find('i'));">
                            <i class="fas fa-low-vision secret-input"></i>
                        </div>
                    </div>
                </div>
            </div>
        </td>
        <td>
            <div class="form-inline">
                <div class="form-group" style="width:100%">
                    <div class="input-group" style="width:100%">
                        {{- if (locked (printf "%s_READARR_%d_USERNAME" $.Flags.EnvPrefix $index)) }}
                        <div style="width:30px; max-width:30px;" class="input-group-addon input-sm">
                            <div style="display:none;" class="dialogText">
                                An environment variable exists for this value. Your new value will write to the config file, but the application will not use it.
                            </div>
                            <i onClick="dialog($(this), 'right')" class="text-danger help-icon fas fa-outdent"></i>
                            <span class="dialogTitle" style="display:none;">Variable: {{printf "%s_READARR_%d_USERNAME" $.Flags.EnvPrefix $index}}</span>
                        </div>
                        {{- end}}
                        <input type="text" id="Apps.Readarr.{{$index}}.Username" name="Apps.Readarr.{{$index}}.Username" data-index="{{$index}}" data-app="Readarr"
                            class="client-parameter form-control input-sm" data-group="starr" data-label="Readarr {{instance $index}} Username"
                            data-original="{{(index $.Input.Apps.Readarr $index).Username}}" value="{{(index $.Input.Apps.Readarr $index).Username}}">
                    </div>
                </div>
            </div>
        </td>
        <td>
            <div class="form-inline">
                <div class="form-group" style="width:100%">
                    <div class="input-group" style="width:100%">
                        {{- if (locked (printf "%s_READARR_%d_PASSWORD" $.Flags.EnvPrefix $index)) }}
                        <div style="width:30px; max-width:30px;" class="input-group-addon input-sm">
                            <div style="display:none;" class="dialogText">
                                An environment variable exists for this value. Your new value will write to the config file, but the application will not use it.
                            </div>
                            <i onClick="dialog($(this), 'right')" class="text-danger help-icon fas fa-outdent"></i>
                            <span class="dialogTitle" style="display:none;">Variable: {{printf "%s_READARR_%d_PASSWORD" $.Flags.EnvPrefix $index}}</span>
                        </div>
                        {{- end}}
                        <input type="password" autocomplete="new-password" id="Apps.Readarr.{{$index}}.Password" name="Apps.Readarr.{{$index}}.Password"
                            data-index="{{$index}}" data-app="Readarr" class="client-parameter form-control input-sm" data-group="starr" data-label="Readarr {{instance $index}} Password"
                            data-original="{{(index $.Input.Apps.Readarr $index).Password}}" value="{{(index $.Input.Apps.Readarr $index).Password}}">
                        <div style="width:35px; max-width:35px;" class="input-group-addon input-sm" onClick="togglePassword('Apps.Readarr.{{$index}}.Password', $(this).find('i'));">
                            <i class="fas fa-low-vision secret-input"></i>
                        </div>
                    </div>
                </div>
            </div>
        </td>
        <td>
            <div class="form-inline">
                <div class="form-group" style="width:100%">
                    <div class="input-group" style="width:100%">
                        {{- if (locked (printf "%s_READARR_%d_INTERVAL" $.Flags.EnvPrefix $index)) }}
                        <div style="width:30px; max-width:30px;" class="input-group-addon input-sm">
                            <div style="display:none;" class="dialogText">
                                An environment variable exists for this value. Your new value will write to the config file, but the application will not use it.
                            </div>
                            <i onClick="dialog($(this), 'right')" class="text-danger help-icon fas fa-outdent"></i>
                            <span class="dialogTitle" style="display:none;">Variable: {{printf "%s_READARR_%d_INTERVAL" $.Flags.EnvPrefix $index}}</span>
                        </div>
                        {{- end}}
                        <select type="select" id="Apps.Readarr.{{$index}}.Interval" name="Apps.Readarr.{{$index}}.Interval" data-index="{{$index}}" data-app="Readarr"
                            class="client-parameter form-control input-sm" data-group="starr" data-label="Readarr {{instance $index}} Interval"
                            data-original="{{$app.Interval}}" value="{{$app.Interval}}">
{{template "includes/intervaloptions.html" $app.Interval}}
                        </select>
                    </div>
                </div>
            </div>
        </td>
        <td>
            <div class="form-inline">
                <div class="form-group" style="width:100%">
                    <div class="input-group" style="width:100%">
                        {{- if (locked (printf "%s_READARR_%d_TIMEOUT" $.Flags.EnvPrefix $index)) }}
                        <div style="width:30px; max-width:30px;" class="input-group-addon input-sm">
                            <div style="display:none;" class="dialogText">
                                An environment variable exists for this value. Your new value will write to the config file, but the application will not use it.
                            </div>
                            <i onClick="dialog($(this), 'right')" class="text-danger help-icon fas fa-outdent"></i>
                            <span class="dialogTitle" style="display:none;">Variable: {{printf "%s_READARR_%d_TIMEOUT" $.Flags.EnvPrefix $index}}</span>
                        </div>
                        {{- end}}
                        <select type="select" id="Apps.Readarr.{{$index}}.Timeout" name="Apps.Readarr.{{$index}}.Timeout" data-index="{{$index}}" data-app="Readarr"
                            class="client-parameter form-control input-sm" data-group="starr" data-label="Readarr {{instance $index}} Timeout" data-original="{{$app.Timeout}}">
                            <option value="-1s" {{if eq $app.Timeout.Seconds (add 0 -1)}}selected {{end}}>Disabled</option>
                            <option value="0s" {{if eq $app.Timeout.Seconds (add 0 0)}}selected {{end}}>No Timeout</option>
                            {{- range $i := one259 }}
                            <option {{if eq $app.Timeout.Seconds $i}}selected {{end}}value="{{$i}}s">{{$i}} second{{if not (eq $i (add 0 1))}}s{{end}}</option>
                            {{- end}}
                            <option {{if eq $app.Timeout.Seconds (add 0 60)}}selected {{end}}value="1m">1 minute</option>
                            {{- range $i := one259 }}
                            <option {{if eq $app.Timeout.Seconds (add 60 $i)}}selected {{end}}value="1m{{$i}}s">1 min {{$i}} sec</option>
                            {{- end}}
                        </select>
                    </div>
                </div>
            </div>
        </td>
        <td>
            <div class="form-inline">
                <div class="form-group" style="width:100%">
                    <div class="input-group" style="width:100%">
                        {{- if (locked (printf "%s_READARR_%d_DELETES" $.Flags.EnvPrefix $index)) }}
                        <div style="width:30px; max-width:30px;" class="input-group-addon input-sm">
                            <div style="display:none;" class="dialogText">
                                An environment variable exists for this value. Your new value will write to the config file, but the application will not use it.
                            </div>
                            <i onClick="dialog($(this), 'right')" class="text-danger help-icon fas fa-outdent"></i>
                            <span class="dialogTitle" style="display:none;">Variable: {{printf "%s_READARR_%d_DELETES" $.Flags.EnvPrefix $index}}</span>
                        </div>
                        {{- end}}
                        <select type="select" id="Apps.Readarr.{{$index}}.Deletes" name="Apps.Readarr.{{$index}}.Deletes" data-index="{{$index}}" data-app="Readarr"
                            class="client-parameter form-control input-sm" data-group="starr" data-label="Readarr {{instance $index}} Deletes"
                            data-original="{{$app.Deletes}}" value="{{$app.Deletes}}">
                            <option {{if eq $app.Deletes 0}}selected {{end}}value="0">Disabled</option>
                            {{- range $i := oneto 100 }}
                            <option {{if eq $app.Deletes $i}}selected {{end}}value="{{$i}}">{{$i}}</option>
                            {{- end}}
                        </select>
                    </div>
                </div>
            </div>
        </td>
    </tr>
    {{- end}}
    <tr id="starr-Readarr-none"{{if .Config.Apps.Readarr}} style="display: none;"{{end}}><td colspan="9">No Readarr instances configured.</td></tr>
</tbody>
{{- /* end of readarr (leave this comment) */ -}}
