name: test-and-lint
on: push
permissions:
  contents: read
jobs:
  gotest:
    # description: "Runs `go test` against 3 operating systems."
    strategy:
      matrix:
        os: [ubuntu, macos, windows]
    runs-on: ${{ matrix.os }}-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version-file: 'go.mod'
      - name: go-generate
        run: go generate ./...
      - name: go-test
        run: |
          go test ./pkg/...

  codespell:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: codespell-project/actions-codespell@v2
        with:
          check_hidden: true
          ignore_words_list: vender, te
          skip: .git,fortunes.txt,words.go,jquery*.js,swagger*.js,swagger*.map,bootstrap*.js,go.sum


  golangci-darwin:
    # description: "Runs golangci-lint on macos against freebsd and macos."
    strategy:
      matrix:
        os: [freebsd, darwin]
    name: golangci-lint
    runs-on: macos-latest
    env:
      GOOS: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version-file: 'go.mod'
      - name: go-generate
        run: GOOS=darwin go generate ./...
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v6
        with:
          version: v1.59
          args: --build-tags nodbus

  golangci-linux:
    # description: "Runs golangci-lint on linux against linux and windows."
    strategy:
      matrix:
        os: [linux, windows]
    name: golangci-lint
    runs-on: ubuntu-latest
    env:
      GOOS: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version-file: 'go.mod'
      - name: go-generate
        run: GOOS=linux go generate ./...
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v6
        with:
          version: v1.59
