name: test-and-lint
on: push
permissions:
  contents: read
jobs:
  gotest:
    # description: "Runs `go test` against 3 operating systems."
    strategy:
      matrix:
        os: [ubuntu, macos, windows]
    runs-on: ${{ matrix.os }}-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'
      - name: go-generate
        run: |
          # Fake frontend build.
          mkdir -p ./frontend/dist
          echo "Fake frontend build." > ./frontend/dist/index.html
      - name: go-test
        run: |
          go test ./pkg/...

  codespell:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: codespell-project/actions-codespell@v2
        with:
          check_hidden: true
          ignore_words_list: vender, te
          skip: .git,dist,node_modules,fortunes.txt,words.go,swagger*.js,swagger*.map,go.sum,*.json

  golangci-darwin:
    # description: "Runs golangci-lint on macos against freebsd and macos."
    strategy:
      matrix:
        os: [freebsd, darwin]
    name: golangci-lint
    runs-on: macos-latest
    env:
      GOOS: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'
      - name: go-generate
        run: |
          # Fake frontend build.
          mkdir -p ./frontend/dist
          echo "Fake frontend build." > ./frontend/dist/index.html
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: v2.4
          args: --build-tags nodbus

  golangci-linux:
    # description: "Runs golangci-lint on linux against linux and windows."
    strategy:
      matrix:
        os: [linux, windows]
    name: golangci-lint
    runs-on: ubuntu-latest
    env:
      GOOS: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'
      - name: go-generate
        env:
          FONTAWESOME_PACKAGE_TOKEN: ${{ secrets.FONTAWESOME_PACKAGE_TOKEN }}
        run: |
          # Fake frontend build.
          mkdir -p ./frontend/dist
          echo "Fake frontend build." > ./frontend/dist/index.html
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v8
        with:
          version: v2.4
