name: test-and-lint
on:
  push:
    branches:
      - unstable
  pull_request:
    types: [opened, reopened, edited]
permissions:
  contents: read
jobs:
  golangci:
    strategy:
      matrix:
        go: [1.19]
        os: [macos-latest, windows-latest, ubuntu-latest]
    name: lint
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/setup-go@v3
        with:
          go-version: ${{ matrix.go }}
      - uses: actions/checkout@v3
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3
        with:
          version: v1.48
      - name: go-test
        run: |
          go test ./...